<div id="cart" class="top-cart">
	<a href="{{ cart }}" class="shopping-cart">
		<i class="fa fa-shopping-cart"></i>
		<div class="subtitle">{{ text_items }}</div>
	</a>
	{% if products or vouchers %}
	<div class="cart-content">
		<ul class="cart-list">
			{% for product in products %}
			<li>
				<a title="Remove item" class="remove" onclick="cart.remove('{{ product.cart_id }}');" href="javascript:void(0);">×</a>
				{% if product.thumb %}
				<a href="{{ product.href }}">
					<img width="90" height="90" alt="{{ product.name }}" title="{{ product.name }}" src="{{ product.thumb }}" />{{ product.name }}
				</a>
				{% endif %}
				<!--{% if product.option %}
				{% for option in product.option %} <br />
				- <small>{{ option.name }} {{ option.value }}</small>
				{% endfor %}
				{% endif %}-->
				<span class="quantity">{{ product.quantity }} × <span class="amount">{{ product.total }}</span></span>
				<a href="{{ product.href }}">Edit</a>
			</li>
			{% endfor %}
		</ul>
		{% for total in totals %}
		<p class="total">{{ total.title }}<span class="amount">{{ total.text }}</span></p>
		{% endfor %}
		<p class="buttons">
			<a href="{{ cart }}" title="{{ text_cart }}" class="btn btn-very-small-white no-margin-bottom margin-seven pull-left no-margin-lr">{{ text_cart }}</a>
			<a href="{{ checkout }}" title="{{ text_checkout }}"  class="btn btn-very-small-white no-margin-bottom margin-seven no-margin-right pull-right">{{ text_checkout }}</a>
		</p>
	</div>
	{% endif %}
</div>