<!-- footer -->
<footer>
	<div class=" bg-white footer-top">
		<div class="container width-100">
			<div class="row margin-four">
				<!-- phone -->
				<div class="col-md-3 col-sm-6 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">0800 500 5000 </h6></div>
				<!-- end phone -->
				<!-- address -->
				<div class="col-md-3 col-sm-6 text-center"><a href="/book-appointment"><i class="icon-map-pin small-icon black-text"></i></a><h6 class="margin-two no-margin-bottom"><a href="/book-appointment" class="black-text">Visit Our Showroom</a></h6></div>
				<!-- end address -->
				<!-- email -->
				<div class="col-md-3 col-sm-6 text-center"><a href="mailto:sales@abelini.com"><i class="icon-envelope small-icon black-text"></i></a><h6 class="margin-two no-margin-bottom"><a href="mailto:sales@abelini.com" class="black-text">sales@abelini.com</a></h6></div>
				<!-- end email -->
				<!-- live help -->
				<div class="col-md-3 col-sm-6 text-center"><a href="javascript:$zopim.livechat.window.show();"><i class="icon-chat small-icon black-text"></i></a><h6 class="margin-two no-margin-bottom"><a href="javascript:$zopim.livechat.window.show();" class="black-text">Live Chat</a></h6></div>
				<!-- live help -->
			</div>
		</div>
	</div>
	<div class="container footer-middle width-100">
		<div class="row">
			<div class="col-md-4 col-sm-6 footer-link1 xs-display-none">
				<!-- headline -->
				<h5>About Us</h5>
				<!-- end headline -->
				<!-- text -->
				<p class="footer-text">At ABELINI, our desire is to be a part of the joy in all of life's special celebrations. It is this wish that sets us apart and makes us more than just your preferred jeweller. We offer a wide range of stylish rings, necklaces, bracelets, earrings and pendants, set with diamonds and other precious stones.</p>
				<!-- end text -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4 footer-link2">
				<!-- headline -->
				<h5>About Abelini</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="/about-us">About Us</a></li>
					<li><a href="/book-appointment">Visit Our Showroom</a></li>
					<li><a href="https://uk.trustpilot.com/review/abelini.com" target="_blank">Our Customer Review</a></li>
					<li><a href="/contact-us">Contact Us</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link3">
				<!-- headline -->
				<h5>Customer Care</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="/free-shipping">Free Delivery</a></li>
					<li><a href="/return-and-exchange">Return & Exchange</a></li>
					<li><a href="/warranty-and-care">Warranty & Care</a></li>
					<li><a href="/jewellery-insurance">Jewellery Insurance</a></li>
					<li><a href="/bespoke">Bespoke</a></li>
					<li><a href="/home-trial">Free Sample Services</a></li>
					<!--<li><a href="/interest-free-finance">Zero Percent Interest</a></li>-->
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
				<!-- headline -->
				<h5>Explore</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="/metal-guide">Metal Guide</a></li>
					<li><a href="/stone-guide">Stone Guide</a></li>
					<li><a href="/size-guide">Size Guide</a></li>
					<li><a href="/jewellery-care">Jewellery Care</a></li>
				</ul>
				<!-- end link -->
			</div>
            <div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
				<!-- headline -->
				<h5>Contact Us </h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="tel:08005005000">0800 500 5000</a></li>
					<li><a href="mailto:sales@abelini.com">sales@abelini.com</a></li>
					<li><a href="javascript:$zopim.livechat.window.show();">Live Chat</a></li>
                    <li><a href="/book-appointment">Visit Our Showroom</a></li>
					<li><a href="/faq">FAQ's</a></li>
				</ul>
				<!-- end link -->
			</div>
		</div>
		<div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
		<div class="row margin-two no-margin-bottom">
			<div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
				<!-- link -->
				<ul class="list-inline footer-link text-uppercase">
					<li><a href="/about-us">{{ text_about }}</a></li>
					<li><a href="/blog">{{ text_blog }}</a></li>
					<li><a href="/careers">{{ text_careers }}</a></li>
					<li><a href="/testimonial">{{ text_testimonials }} </a></li>
					<li><a href="/contact-us">{{ text_contact }}</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
				<!-- social media link -->
				<a target="_blank" href="https://www.facebook.com/abelinijewellery"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="https://twitter.com/AbeliniJ"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="https://plus.google.com/b/105378556390160151575/105378556390160151575"><i class="fa fa-google-plus"></i></a>
				<a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
				<a target="_blank" href="https://www.youtube.com/channel/UCdfnfdsPrWJF6wJJu7d13qA"><i class="fa fa-youtube"></i></a>
				
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container width-100">
			<div class="row margin-one">
				<!-- copyright -->
				<div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy; 2017 Abelini.
				</div>
				<!-- end copyright -->
				<!-- logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
					<a href="index.php"><img src="catalog/view/theme/default/image/logo-light-gray.png" alt=""/></a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top --> 
	<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
	<!-- scroll to top End... --> 
</footer>
<!-- end footer -->
<script>
$("#wpbs_slider #icon_label").click(function(){
	$('#wpbs_cont').show();	
});
$("#wpbs_cont #cls").click(function(){
	$('#wpbs_cont').hide();	
});
</script>
{{ live_chat }}
</body></html>