<!-- footer -->
<footer>
	<div class=" bg-white footer-top">
		<div class="container width-100">
			<div class="row margin-four">
				<!-- phone -->
				<div class="col-md-3 col-sm-6 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">123-456-7890</h6></div>
				<!-- end phone -->
				<!-- address -->
				<div class="col-md-3 col-sm-6 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Victoria, United States</h6></div>
				<!-- end address -->
				<!-- email -->
				<div class="col-md-3 col-sm-6 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:no-reply@domain.com" class="black-text">no-reply@domain.com</a></h6></div>
				<!-- end email -->
				<!-- live help -->
				<div class="col-md-3 col-sm-6 text-center"><i class="icon-chat small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="#" class="black-text">Live Chat</a></h6></div>
				<!-- live help -->
			</div>
		</div>
	</div>
	<div class="container footer-middle width-100">
		<div class="row">
			<div class="col-md-6 col-sm-6 footer-link1 xs-display-none">
				<!-- headline -->
				<h5>About Us</h5>
				<!-- end headline -->
				<!-- text -->
				<p class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<!-- end text -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4 footer-link2">
				<!-- headline -->
				<h5>Company</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="{{ about_company }}">{{ text_about_company }}</a></li>
					<li><a href="{{ what_we_do }}">{{ text_what_we_do }}</a></li>
					<li><a href="{{ what_we_think }}">{{ text_what_we_think }}</a></li>
					<li><a href="{{ careers }}">{{ text_careers }}</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link3">
				<!-- headline -->
				<h5>Services</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="{{ web_development }}">{{ text_web_development }}</a></li>
					<li><a href="{{ graphic_design }}">{{ text_graphic_design }}</a></li>
					<li><a href="{{ copywriting }}">{{ text_copywriting }}</a></li>
					<li><a href="{{ online_marketing }}">{{ text_online_marketing }}</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
				<!-- headline -->
				<h5>Introduction</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="{{ team_members }}">{{ text_team_members }}</a></li>
					<li><a href="{{ testimonials }}">{{ text_testimonials }}</a></li>
					<li><a href="{{ our_clients }}">{{ text_our_clients }}</a></li>
					<li><a href="{{ careers_with_us }}">{{ text_careers_with_us }}</a></li>
				</ul>
				<!-- end link -->
			</div>
		</div>
		<div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
		<div class="row margin-four no-margin-bottom">
			<div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
				<!-- link -->
				<ul class="list-inline footer-link text-uppercase">
					<li><a href="{{ about }}">{{ text_about }}</a></li>
					<li><a href="{{ blog }}">{{ text_blog }}</a></li>
					<li><a href="{{ careers }}">{{ text_careers }}</a></li>
					<li><a href="{{ testimonials }}">{{ text_testimonials }} </a></li>
					<li><a href="{{ contact }}">{{ text_contact }}</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
				<!-- social media link -->
				<a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
				<a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				<a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
				<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container width-100">
			<div class="row margin-three">
				<!-- copyright -->
				<div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy; 2015 H-Code is proudly powered by ThemeZaa.
				</div>
				<!-- end copyright -->
				<!-- logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
					<a href="index.php"><img src="catalog/view/theme/default/image/logo-light-gray.png" alt=""/></a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top --> 
	<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
	<!-- scroll to top End... --> 
</footer>
<!-- end footer -->

</body></html>