<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<!-- favicon -->
<link rel="shortcut icon" href="catalog/view/theme/default/image/favicon.png">
<link rel="apple-touch-icon" href="catalog/view/theme/default/image/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="catalog/view/theme/default/image/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="catalog/view/theme/default/image/apple-touch-icon-114x114.png">
<!-- animation --> 
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/animate.css" />
<!-- bootstrap --> 
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/bootstrap.css" />
<!-- et line icon --> 
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/et-line-icons.css" />
<!-- font-awesome icon -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/font-awesome.min.css" />
<!-- revolution slider -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/extralayers.css" />
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/settings.css" />
<!-- magnific popup -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/magnific-popup.css" />
<!-- owl carousel -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/owl.carousel.css" />
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/owl.transitions.css" />
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/full-slider.css" />
<!-- text animation -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/text-effect.css" />
<!-- hamburger menu  -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/menu-hamburger.css" />
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/jquery.simple-dtpicker.css" />
<!-- common -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/style.css" />
<!-- responsive -->
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/responsive.css" />
{% for style in styles %}
<!--<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />-->
{% endfor %}
<!--[if IE]>
	<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/style-ie.css" />
<![endif]-->
<!--[if IE]>
	<script src="catalog/view/javascript/hcode/html5shiv.js"></script>
<![endif]-->

<!-- javascript libraries / javascript files set #1 --> 
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/modernizr.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/bootstrap.js"></script> 
<script type="text/javascript" src="catalog/view/javascript/hcode/bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="catalog/view/javascript/hcode/skrollr.min.js"></script>  
<script type="text/javascript" src="catalog/view/javascript/hcode/smooth-scroll.js"></script>
 <!-- jquery appear -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.appear.js"></script>
<!-- animation -->
<script type="text/javascript" src="catalog/view/javascript/hcode/wow.min.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="catalog/view/javascript/hcode/page-scroll.js"></script>
<!-- easy piechart-->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.easypiechart.js"></script>
<!-- parallax -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.parallax-1.1.3.js"></script>
<!--portfolio with shorting tab --> 
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.isotope.min.js"></script> 
<!-- owl slider  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/owl.carousel.min.js"></script>
<!-- magnific popup  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/popup-gallery.js"></script>
<!-- text effect  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/text-effect.js"></script>
<!-- revolution slider  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.tools.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.revolution.js"></script>
<!-- counter  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/counter.js"></script>
 <!-- countTo -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.countTo.js"></script>
<!-- fit videos  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/jquery.fitvids.js"></script>
<!-- imagesloaded  -->
<script type="text/javascript" src="catalog/view/javascript/hcode/imagesloaded.pkgd.min.js"></script>
<!-- hamburger menu-->
<script type="text/javascript" src="catalog/view/javascript/hcode/classie.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/hamburger-menu.js"></script>
<!-- setting --> 
<script type="text/javascript" src="catalog/view/javascript/jquery.simple-dtpicker.js"></script>
<script type="text/javascript" src="catalog/view/javascript/hcode/main.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>

<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a06b05369fde30011eef507&product=inline-share-buttons"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom bg-white shop-nav" role="navigation">    
  
	<div class="container width-100">
    <div id="topbar" class="desktopview">    	
            <div class="row">
            <div class="width-100 bg-black topbar-wrap">
               	<div class="col-md-12">
                	<div class="col-md-2 text-left no-padding">
						{% if logged %}
							<a href="index.php?route=account/account"><i class="fa fa-user white-text extra-small-icon"> </i> My Account</a>
							<a href="index.php?route=account/wishlist"><i class="fa fa-heart-o white-text extra-small-icon"> </i> Wishlist</a>
						{% else %}
							<a href="index.php?route=account/login/popup" class="agree"><i class="fa fa-user white-text extra-small-icon"> </i> Login</a>
							<a href="index.php?route=account/login/popup&favorite" class="agree"><i class="fa fa-heart-o white-text extra-small-icon"> </i> Wishlist</a>
						{% endif %}
                    </div>
                    <div class="col-md-8 text-center topbar-mid">
                    	<a href="index.php?route=information/visit_showroom/popup" class="agree">Book Appointment</a>
                        <a href="/warranty-and-care">Life Time Warranty</a>
                        <!--<a href="/home-trial">Free Sample Services</a>-->
						<a href="/bespoke">Bespoke Design</a>
                        <a href="https://uk.trustpilot.com/review/abelini.com" target="_blank">Independent Reviews</a>
                    </div>
                    <div class="col-md-2 text-right no-padding">
                    	<a href="tel:0800 500 5000"><i class="fa fa-phone white-text extra-small-icon"> </i> 0800 500 5000</a>
                        <a href="javascript:$zopim.livechat.window.show();"><i class="fa fa-wechat white-text extra-small-icon"> </i></a>
                        <a href="index.php?route=information/contact/popup" class="agree"><i class="fa fa-envelope-o white-text extra-small-icon"> </i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </div>
    <div id="mobtopbar" class="mobileview">    	
            <div class="row">
            <div class="width-100 bg-black topbar-wrap">
               	<div class="col-md-12">
                	<div class="width-20 f-left text-left no-padding white-text">						
							<a class="white-text" href="/warranty-and-care"> RISK FREE </a>
                    </div>
                    <div class="width-60 f-left text-center topbar-mid white-text">                    	
                        <span class="mobtpreview"><i class="fa fa-star white-text"></i><i class="fa fa-star white-text"></i><i class="fa fa-star white-text"></i><i class="fa fa-star white-text"></i><i class="fa fa-star white-text"></i></span><a class="white-text" href="https://uk.trustpilot.com/review/abelini.com" target="_blank"> REVIEWS </a>
                    </div>
                    <div class="width-20 f-left no-padding" style="text-align:right;">
                    	<a class="white-text" href="/book-appointment">SHOWROOM</a>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </div>
		<div class="row">
			<!-- logo -->
			<div class="col-md-2 pull-left"><a class="logo-light" href="index.php"><img alt="" src="catalog/view/theme/default/image/logo-dark.png" class="logo" /></a><a class="logo-dark" href="index.php"><img alt="" src="catalog/view/theme/default/image/logo-dark.png" class="logo" /></a></div>
			<!-- end logo -->
			<!-- search and cart  -->
			<div class="col-md-2 no-padding-left search-cart-header pull-right">
				<div id="top-search">
					<!-- nav search -->
					<a href="#search-header" class="header-search-form"><i class="fa fa-search search-button extra-small-icon"></i></a>
					<!-- end nav search -->
				</div>
				<!-- search input-->
				<form id="search-header" method="post" action="#" onsubmit="return false;" name="search-header" class="mfp-hide search-form-result">
                	<div class="col-md-12">
					<div class="col-md-4"><div class="search-form position-relative select-style input-round big-input margin-seven">
					   <select name="category_id" class="form-control">
						<option value="0">{{ text_category }}</option>
						{% for category_1 in categories %}
						{% if category_1.category_id == category_id %}
						<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
						{% else %}
						<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
						{% endif %}
						{% for category_2 in category_1.children %}
						{% if category_2.category_id == category_id %}
						<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
						{% else %}
						<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
						{% endif %}
						{% for category_3 in category_2.children %}
						{% if category_3.category_id == category_id %}
						<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
						{% else %}
						<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
						{% endif %}
						{% endfor %}
						{% endfor %}
						{% endfor %}
					  </select>
					  <input type="hidden" name="sub_category" value="true" />
					</div></div>
                    <div class="col-md-8"><div class="search-form position-relative">
						<button type="submit" class="fa fa-search close-search search-button"></button>
						<input type="text" name="search" id="searcher" autocomplete="off" class="search-input" placeholder="Enter your keywords..." />
					</div></div>
                    </div>
				</form>
				<!-- end search input -->
                <div class="mobileview setting-icon f-right">
                	<span id="settingmenuclick"><i class="fa fa-cog search-button extra-small-icon"></i></span>
                </div>
                
				{{ cart }}
			</div>
            <div class="mobileview">
                	<ul id="settingmenu" class="setting-menu"> 
                    	<li><span class="display-block">Select Currency</span> 
                        <span class="currency-icons"><a href="#" class="active"><i class="fa fa-usd extra-small-icon"></i></a> <a href="#"><i class="fa fa-eur extra-small-icon"></i></a> <a href="#"><i class="fa fa-jpy extra-small-icon"></i></a></span></li>                   	
                    	<li><a href="#">Login / Register</a></li>
                    	<li><a href="#">My Account</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Checkout</a></li>
                    </ul>
            </div>
			<!-- end search and cart  -->
			<!-- toggle navigation -->
			<div class="navbar-header col-sm-8 col-xs-2 pull-right">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<!-- toggle navigation end -->
			{{ menu }}
		</div>
	
    </div>
</nav>
<!-- end navigation panel -->
<div id="wpbs_slider" class="dessktopview">
<div class="icon_label bg-white" id="icon_label">
	<span class="lbl">Contact&nbsp;&nbsp;Us</span>
    <span><i class="fa fa-user black-text small-icon"> </i></span>
</div>
<div id="wpbs_cont" class="bg-white">
	<div id="cls"><i class="fa fa-close black-text extra-small-icon"> </i></div>
	<h2 class="text-center margin-two no-margin-top">Speak to an expert</h2>
    <p class="text-center margin-four no-margin-top">Get in touch with us using one of the four option below:</p>
	<div class="row margin-ten no-margin-top">
    	<div class="col-md-6 text-center">
        	<a href="javascript:$zopim.livechat.window.show();">
            <span><i class="fa fa-wechat black-text medium-icon"> </i></span>
            <h3>Start Live <br> chat now</h3></a>
        </div>
        <div class="col-md-6 text-center">
        	<a href="index.php?route=information/visit_showroom/popup" class="agree">
			<span><i class="fa fa-calendar black-text medium-icon"> </i></span>
        	<h3>Schedule your <br> consulation</h3></a>
        </div>
      <div class="clear-both"></div>
    </div>
    <div class="row margin-ten no-margin-top">
    	<div class="col-md-6 text-center">        	
            <a href="tel:0800 500 5000">
            <i class="fa fa-phone black-text medium-icon"> </i> 
            <h3>Call Us: <br> 0800 500 5000 </h3></a>
        </div>
        <div class="col-md-6 text-center">
        <a href="index.php?route=information/contact/popup" class="agree">
        <span><i class="fa fa-envelope-o black-text medium-icon"> </i></span>
        <h3>Email Us: <br>SALES@ABELINI.COM</h3></a>
        	
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
</div>
 <div class="clear-both"></div>
</div>
<style type="text/css">
[name=search] {  outline: none;}
#livesearch /*#livesearch **/ {  margin: 0;  padding: 0;  list-style: none; width:600px;}
#livesearch {  position: absolute;  width: 100% !important; max-width:420px;  top: 0px;  background: #ffffff;  z-index: 100000;  box-shadow: 0px 10px 30px rgba(0,0,0,.5); margin-top:20px; }
#livesearch li {  border-top: 1px solid #eeeeee;}
#livesearch a {  display: block;  clear: both;  overflow: hidden;  /*line-height: 20px;  padding: 10px;*/  text-decoration: none;color: #333141;}
/*#livesearch a:hover, #livesearch li.active a { background: #F0EEED;  color:#000;}*/
#livesearch a:hover p { color:#000;}
#livesearch img {float: left;  /*width: auto;  height: 50px;  margin-right: 10px;margin-bottom:20px;*/}
#livesearch img[src=''] {  display: none;}
.more {  text-align: center;}
#livesearch a em {  display: block;  color: #333141;  font-style: normal; }
#livesearch a:hover em, #livesearch li.active a em {  color: #333141;}
#livesearch strike {color: #aaaaaa;}
#livesearch a:hover strike {  color: lightblue;}
#livesearch small {display: block; }
</style>
<script type="text/javascript">
$(function(){

	var delay = (function(){
	  var timer = 0;
	  return function(callback, ms){
	    clearTimeout (timer);
	    timer = setTimeout(callback, ms);
	  };
	})();
	
/* Desktop Search */
var a = (!!$("#livesearch").length ? $("#livesearch") : $("<ul id='livesearch' class='searchresult-listing'></ul>") ), b = $("#searcher");
function repositionLivesearch() {
	var winwidth = $(window).width();
	if(winwidth < 768){
		a.css({ top: (b.offset().top+b.outerHeight()), left:0, width: winwidth }); 
	} else {
		a.css({ top: (b.offset().top+b.outerHeight()), left:b.offset().left, width: b.outerWidth() }); 
	}
}
$(window).resize(function(){ repositionLivesearch(); });
b.keyup(function(e){
	console.log('yess');
  switch (e.keyCode) {
	case 13:
			$.ajax({
					url: 'index.php?route=product/search/saveSearch',
					type: 'post',
					dataType: 'html',
					data: 'search=' + b.val(),
					beforeSend: function() {
						
					},
					complete: function() {
						
					},
					success: function(response) {
					
					}

				});
		$(".active", a).length && (window.location = $(".active a", a).attr("href"));
		return false;
		break;
	case 40:
		($(".active", a).length ? $(".active", a).removeClass("active").next().addClass("active") : $("li:first", a).addClass("active"))
		return false;
		break;
	case 38:
		($(".active", a).length ? $(".active", a).removeClass("active").prev().addClass("active") : $("li:last", a).addClass("active"))
		return false;
		break;
	default:
		var query = b.val();
		if (query.length > 2) {
			delay(function(){
				$.getJSON(
					$('base').attr('href') + "index.php?route=product/search/livesearch&search=" + query,
					function(data) {
					console.log('hello');
						a.empty();
						$.each(data, function( k, v ) {
							a.append("<li>"+(k == 5 ? "<div class='btnwrap'><span><a class='highlight-button-dark btn btn-very-small button no-margin' href='"+v.href+"'>"+v.name+"</a></span><span><input type='button' onclick='$(\"#livesearch\").hide();' name='close' id='close' class='highlight-button-dark btn btn-very-small button no-margin' value='Close' /></span></div>" : "<a href='"+v.href+"'>"+(v.thumb ? "<div class='proimg'><img src='"+v.thumb+"' alt='"+v.name+"'></div>" : '')+"<div class='proinfo' "+(v.thumb ? '' : "style='float:left;width:100%;'" )+"><h4>"+v.name+(v.sku ? "<small>"+v.sku+"</small>" : '')+"</h4><p>"+(v.price ? v.price : '')+"</p></div></a>")+"</li>");
						});
						a.remove(); $("body").prepend(a); repositionLivesearch();
						
						$("ul#livesearch li a").click(function(){
							b.val($(this).text());
							$(".searchMeme-button-icon").click();
						});

						delay(function(){

							$.ajax({
									url: 'index.php?route=product/search/saveSearch',
									type: 'post',
									dataType: 'html',
									data: 'search=' + query,
									beforeSend: function() {
										
									},
									complete: function() {
										
									},
									success: function(response) {
									
									}

								});
							}, 500 );

					}
				);
			}, 500 );

			
		} else {
			a.empty();
		}
	}

}).blur(function(){ setTimeout(function(){  },500); }).focus(function(){ repositionLivesearch(); a.show(); });
});
</script><body>
</body>
</html>
