			<!-- main menu -->
			<div class="col-md-8 no-padding-right accordion-menu text-right">
				<div class="navbar-collapse collapse">
					<ul id="accordion" class="nav navbar-nav navbar-right panel-group">
						<!-- menu item -->
						<li class="dropdown panel"><a href="#collapse1" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Home <i class="fa fa-angle-down"></i></a>                      
							<!-- sub menu -->
							<ul id="collapse1" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Pre Made Homepage</li>
										<li><a href="index.html">Home main</a></li>
										<li><a href="home-fashion.html">Home fashion</a></li>
										<li><a href="home-architecture.html">Home architecture</a></li>
										<li><a href="home-spa.html">Home spa</a></li>
										<li><a href="home-agency.html">Home agency</a></li>
										<li><a href="home-restaurant.html">Home restaurant</a></li>
										<li><a href="home-travel-agency.html">Home travel agency</a></li>
										<li><a href="home-corporate.html">Home corporate</a></li>
										<li><a href="home-photography.html">Home photography</a></li>

										<li><a href="home-shop.html">Home shop</a></li>
										<li><a href="home-blog.html">Home blog</a></li>
										<li><a href="home-blog-grid.html">Home blog grid</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- sub menu column end -->
								<!-- sub menu column -->
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Other</li>
										<li><a href="home-masonry-portfolio.html">Home - masonry portfolio</a></li>
										<li><a href="home-background-slider.html">Home - background slider</a></li>
										<li><a href="home-full-screen-video.html">Home - full screen video</a></li>
										<li><a href="home-half-screen-video.html">Home - half screen video</a></li>
										<li><a href="home-text-rotator.html">Home - text rotator</a></li>
										<li><a href="home-countdown-timer.html">Home - coming soon</a></li>
										<li><a href="home-countdown-timer-animation.html">Home - coming soon (Animation) <span class="menu-new">new</span></a></li>
										<li><a href="home-countdown-timer-video.html">Home - coming soon (video)</a></li>
										<li><a href="home-full-width-image.html">Home - full width image</a></li>
										<li><a href="home-gradient-with-image.html">Home - gradient with image</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Parallax Image / Typography</li>
										<li><a href="home-parallax1.html">Parallax Image - option 1 </a></li>
										<li><a href="home-parallax2.html">Parallax Image - option 2</a></li>
										<li><a href="home-parallax3.html">Parallax Image - option 3 </a></li>
										<li><a href="home-parallax4.html">Parallax Image - option 4</a></li>
										<li><a href="home-parallax5.html">Parallax Image - option 5</a></li>
										<li><a href="home-parallax.html">Full parallax home page</a></li>
									</ul>
									<!-- end sub menu item  -->
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Carousel slider</li>
										<li><a href="home-slider-bootstrap.html">Bootstrap slider - full screen</a></li>
										<li><a href="home-slider-revolution1.html">Revolution slider - full screen</a></li>
										<li><a href="home-slider-revolution2.html">Revolution slider - half screen</a></li>
										<li><a href="home-slider-owl1.html">owl slider - full screen</a></li>
										<li><a href="home-slider-owl2.html">owl slider - half screen</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<ul>
										<li class="dropdown-header">Creative Intro Pages</li>
										<li><a href="intro-fashion.html">Fashion Intro</a></li>
										<li><a href="intro-restaurant.html">Restaurant Intro</a></li>
										<li><a href="intro-travel.html">Travel Intro</a></li>
										<li><a href="intro-travel2.html">Travel Intro - V2</a></li>
										<li><a href="intro-agency.html">Agency Intro</a></li>
										<li><a href="intro-agency2.html">Agency Intro - V2</a></li>
										<li><a href="intro-product.html">Product Intro</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
							</ul>
							<!-- end sub menu -->
						</li>
						<!-- end menu item -->

						{% if categories %}
						{% for category in categories %}
							{% if category.children %}
								<li class="dropdown panel"><a href="{{ category.href }}" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">{{ category.name }} <i class="fa fa-angle-down"></i></a>
									<!-- sub menu -->
									<ul id="collapse4" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4">
											<!-- sub menu item  -->
											<ul>
												{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}

														{% for child in children %}
														<li><a href="{{ child.href }}">{{ child.name }}</a></li>
														{% endfor %}
												{% endfor %}
											</ul>
											<!-- end sub menu item  -->
										</li>
										<!-- end sub menu column  -->
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4 banner">
											<!-- banner image  -->
											<ul>
												<li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
											</ul>
											<!-- end banner image  -->
										</li>
										<!-- end sub menu column  -->
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4 banner">
											<!-- banner image  -->
											<ul>
												<li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
											</ul>
											<!-- end banner image  -->
										</li>
										<!-- end sub menu column  -->
									</ul>
									<!-- end sub menu -->
								</li>
							{% else %}
							    <li class="dropdown panel"><a href="{{ category.href }}">{{ category.name }}</a></li>
							{% endif %}
						{% endfor %}
						{% endif %} 
						<!-- menu item -->
						<li class="dropdown panel"><a href="shop-with-sidebar.html">Sale</a></li>
						<!-- end menu item -->
						<!-- menu item -->
						<li class="dropdown panel simple-dropdown"><a href="blog-right-sidebar.html" >Blog</a></li>
						<!-- end menu item -->
					</ul>
				</div>
			</div>
			<!-- end main menu -->