			<!-- main menu -->
			<div class="col-md-8 no-padding-right accordion-menu text-right">
				<div class="navbar-collapse collapse">
					<ul id="accordion" class="nav navbar-nav navbar-right panel-group">
						<!-- menu item -->
						<!--<li class="dropdown panel"><a href="/">Home <i class="fa fa-angle-down"></i></a></li>-->
						<!-- end menu item -->
                        
                        {% if categories %}
						{% for category in categories %}
                        <li class="dropdown panel dessktopview"><a href="{{ category.href }}" data-hover="dropdown">{{ category.name }} <i class="fa fa-angle-down"></i></a>
							{% if category.children %}
							<!-- sub menu -->
							<ul id="collapse5" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3">
									<!-- sub menu item  -->
									<!--<div style="color:#fff;">Jewellery</div>-->
									<ul>
									{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
									{% for child in children %}
										<li><a href="{{ child.href }}">{{ child.name }}</a></li>
									{% endfor %}
									{% endfor %}
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								{% if category.image is not null and category.image is not empty %}
								<li class="mega-menu-column col-sm-3 banner f-right">
									<!-- banner image  -->
									<ul>
										<li><a href="{{ category.href }}"><img src="{{ category.image }}" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								{% endif %}
								{% if category.image2 is not null and category.image2 is not empty %}
								<li class="mega-menu-column col-sm-3 banner f-right">
									<!-- banner image  -->
									<ul>
										<li><a href="{{ category.href }}"><img src="{{ category.image2 }}" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								{% endif %}
								{% if category.image3 is not null and category.image3 is not empty %}
                                <li class="mega-menu-column col-sm-3 banner f-right">
									<!-- banner image  -->
									<ul>
										<li><a href="{{ category.href }}"><img src="{{ category.image3 }}" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								{% endif %}
								<!-- end sub menu column  -->
								
							</ul>
							<!-- end sub menu -->
							{% endif %}
						</li>
						{% endfor %}
                        {% endif %}
                        <!--<li class="dropdown panel dessktopview simple-dropdown"><a href="/blog" >Blog</a></li>-->

                        <li class="dropdown panel dessktopview"><a href="#collapsei" class="dropdown-toggle collapsed no-active" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Information <i class="fa fa-angle-down"></i></a>
							<!-- sub menu -->
							<ul id="collapsei" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-2">
									<!-- sub menu item  -->
									<div style="color:#fff;">About Abelini</div>
									<ul>
										<li><a href="/about-us">About Us</a></li>
										<li><a href="/book-appointment">Visit Our Showroom</a></li>
										<li><a href="/google-review">Our Customer Review</a></li>
										<li><a href="/contact-us">Contact Us</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<li class="mega-menu-column col-sm-2">
									<!-- sub menu item  -->
									<div style="color:#fff;">Customer Care</div>
									<ul>
										<li><a href="/free-shipping">Free Delivery</a></li>
										<li><a href="/return-and-exchange">Return & Exchange</a></li>
										<li><a href="/warranty-and-care">Warranty & Care</a></li>
										<li><a href="/jewellery-insurance">Jewellery Insurance</a></li>
										<li><a href="/bespoke">Bespoke</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<li class="mega-menu-column col-sm-2">
									<!-- sub menu item  -->
									<div style="color:#fff;">Explore</div>
									<ul>
										<li><a href="/metal-guide">Metal Guide</a></li>
										<li><a href="/stone-guide">Stone Guide</a></li>
										<li><a href="/size-guide">Size Guide</a></li>
										<li><a href="/jewellery-care">Jewellery Care</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3 banner">
									<!-- banner image  -->
									<ul>
										<li><a href="/"><img src="catalog/view/theme/default/image/cat-banner/information/information-1.jpg" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								<li class="mega-menu-column col-sm-3 banner">
									<!-- banner image  -->
									<ul>
										<li><a href="/"><img src="catalog/view/theme/default/image/cat-banner/information/information-2.jpg" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								<!-- end sub menu column  -->
								
							</ul>
							<!-- end sub menu -->
						</li>

						{% if categories %}
						{% for category in categories %}
                        <li class="dropdown panel mobileview"><a href="#collapsem{{ category.category_id }}" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">{{ category.name }} <i class="fa fa-angle-down"></i></a>
							{% if category.children %}
							<!-- sub menu -->
							<ul id="collapsem{{ category.category_id }}" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-2">
									<!-- sub menu item  -->
									<ul class="white-text">
										<li><a href="{{ category.href }}">View All</a></li>
										{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
											{% for child in children %}
												<li><a href="{{ child.href }}">{{ child.name }}</a></li>
											{% endfor %}
										{% endfor %}
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3 banner">
									<!-- banner image  -->
									<ul>
										<li><a href="/"><img src="https://placehold.it/500x649" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								<!-- end sub menu column  -->
							</ul>
							<!-- end sub menu -->
							{% endif %}
						</li>
						{% endfor %}
						{% endif %}
						<!--<li class="dropdown panel mobileview simple-dropdown"><a href="/blog" >Blog</a></li>-->
						<li class="dropdown panel mobileview"><a href="#collapsem9" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Information <i class="fa fa-angle-down"></i></a>
							<!-- sub menu -->
							<ul id="collapsem9" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-2">
									<!-- sub menu item  -->
									<ul class="white-text">
										<li><a href="/about-us">About Us</a></li>
										<li><a href="/book-appointment">Visit Our Showroom</a></li>
										<li><a href="/google-review">Our Customer Review</a></li>
										<li><a href="/contact-us">Contact Us</a></li>
										<li><a href="/free-shipping">Free Delivery</a></li>
										<li><a href="/return-and-exchange">Return & Exchange</a></li>
										<li><a href="/warranty-and-care">Warranty & Care</a></li>
										<li><a href="/jewellery-insurance">Jewellery Insurance</a></li>
										<li><a href="/bespoke">Bespoke</a></li>
										<li><a href="/metal-guide">Metal Guide</a></li>
										<li><a href="/stone-guide">Stone Guide</a></li>
										<li><a href="/size-guide">Size Guide</a></li>
										<li><a href="/jewellery-care">Jewellery Care</a></li>
									</ul>
									<!-- end sub menu item  -->
								</li>
								<!-- end sub menu column  -->
								<!-- sub menu column  -->
								<li class="mega-menu-column col-sm-3 banner">
									<!-- banner image  -->
									<ul>
										<li><a href="/"><img src="https://placehold.it/500x649" alt=""/></a></li>
									</ul>
									<!-- end banner image  -->
								</li>
								<!-- end sub menu column  -->
							</ul>
							<!-- end sub menu -->
						</li>
					</ul>
				</div>
			</div>
			<!-- end main menu -->