			<!-- main menu -->
			<div class="col-md-8 no-padding-right accordion-menu text-right">
				<div class="navbar-collapse collapse">
					<ul id="accordion" class="nav navbar-nav navbar-right panel-group">
						<!-- menu item -->
						<!--<li class="dropdown panel"><a href="/">Home <i class="fa fa-angle-down"></i></a>-->
						</li>
						<!-- end menu item -->

						{% if categories %}
						{% for category in categories %}
							{% if category.children %}
								<li class="dropdown panel"><a href="#collapse{{ category.category_id }}" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">{{ category.name }} <i class="fa fa-angle-down"></i></a>
									<!-- sub menu -->
									<ul id="collapse{{ category.category_id }}" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4">
											<!-- sub menu item  -->
											<ul>
												{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}

														{% for child in children %}
														<li><a href="{{ child.href }}">{{ child.name }}</a></li>
														{% endfor %}
												{% endfor %}
											</ul>
											<!-- end sub menu item  -->
										</li>
										<!-- end sub menu column  -->
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4 banner">
											<!-- banner image  -->
											<ul>
												<li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
											</ul>
											<!-- end banner image  -->
										</li>
										<!-- end sub menu column  -->
										<!-- sub menu column  -->
										<li class="mega-menu-column col-sm-4 banner">
											<!-- banner image  -->
											<ul>
												<li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
											</ul>
											<!-- end banner image  -->
										</li>
										<!-- end sub menu column  -->
									</ul>
									<!-- end sub menu -->
								</li>
							{% else %}
							    <li class="dropdown panel"><a href="{{ category.href }}">{{ category.name }}</a></li>
							{% endif %}
						{% endfor %}
						{% endif %} 
						<!-- menu item -->
						<li class="dropdown panel"><a href="shop-with-sidebar.html">Sale</a></li>
						<!-- end menu item -->
						<!-- menu item -->
						<li class="dropdown panel simple-dropdown"><a href="blog-right-sidebar.html" >Blog</a></li>
						<!-- end menu item -->
					</ul>
				</div>
			</div>
			<!-- end main menu -->