{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">{{ heading_title }}</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section padding-two">
<div id="common-success" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <!--<h1>{{ heading_title }}</h1>-->
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="highlight-button btn btn-very-small no-margin pull-right">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>
 {% if tagmanager.code and tagmanager.status =='1' %}{% if orderDetails %}
<script>
var dataLayer = window.dataLayer = window.dataLayer || [];
dataLayer.push({'event': 'ecommerceComplete','ecommerce': {'purchase': {'actionField': {'id': '{{ orderDetails.order_id }}','affiliation': 'Online Store','revenue': {{ orderValue }},'tax':{{ orderTax }},'shipping':  {{orderDetails.shipping_total|number_format(2, '.', ',')}},{% if not orderCoupon is empty %}'coupon': '{{ orderCoupon }}',{% endif %}'currency': '{{ currency }}'}, {% if orderProduct %} 'products': [{% set i = 1 %}{% for product in orderProduct %}{% if i > 1%} , {% endif %}{'name': '{{ product.title }}','id': '{{ product.pid }}','price': {{ product.price|number_format(2, '.', ',') }},'brand': '{{ product.brand }}','category': '{{ product.category }}','quantity': {{ product.quantity }},'currency': '{{ currency }}'}{%set i = i + 1 %}{% if product.option %} {% for option in product.option %} {% if i > 1%} , {% endif %} {'name': '{{ option.name }}','id': 'OPTION_{{ product.pid }}','price': {{ option.price|number_format(2, '.', ',') }},'brand': '{{ product.brand }}','category': '{{ product.category }}','quantity': {{ product. quantity }},'currency': '{{ currency }}'} {% endfor %} {% endif %} {% endfor %} ] {% endif %} }} {% if not tagmanager.conversion_id is empty and tagmanager.adword == '1' %} , 'adwordCurrency': '{{ currency }}', 'adwordOrderID': '{{ orderDetails.order_id }}', 'adwordConversionValue': {{ orderValue }} {% endif %} }); 
{% if tagmanager.pixel == '1' and orderDetails %}
whenAvailable("fbq", function(t) {fbq('track', 'Purchase', {value: {{orderValue}}, currency: '{{ currency }}'}); });
{% endif %}
</script>
{% endif %} {% endif %}
{{ footer }}