{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">{{ heading_title }}</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section padding-two">
<div id="common-success" class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <!--<h1>{{ heading_title }}</h1>-->
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="highlight-button btn btn-very-small no-margin pull-right">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>
<section class="content-section padding-two">
<div class="order-completion container">
<div class="row">
	<div class="col-md-3">
    <div class="col-md-12 padding-eight  bg-gray text-center">
    	<h3 class="margin-two no-margin-top">Order No</h3>
        <p class="no-margin">27112016</p>
       </div>
    </div>
    <div class="col-md-3">
    <div class="col-md-12 padding-eight  bg-gray text-center">
    	<h3 class="margin-two no-margin-top">Date</h3>
        <p class="no-margin">November 27, 2016</p>
        </div>
    </div>
    <div class="col-md-3">
    <div class="col-md-12 padding-eight  bg-gray text-center">
    	<h3 class="margin-two no-margin-top">Total</h3>
        <p class="no-margin">$1,200.00</p>
        </div>
    </div>
    <div class="col-md-3">
    <div class="col-md-12 padding-eight  bg-gray text-center">
    	<h3 class="margin-two no-margin-top">Payment Method</h3>
        <p class="no-margin">Check Payment</p>
        </div>
    </div>
    </div>
    <div class="row padding-four">
    <div class="col-md-6"> 
     <div class="col-md-12 border-black border-gray padding-seven padding-left-right" style="min-height:605px;"> 
    	<h2 class="margin-three no-margin-top font-weight-600">Your Order</h2>
        <table class="order-completion-table table">
        	<thead>
            	<tr>
                	<th class="text-left">PRODUCT</th>
                    <th class="text-center">QTY</th>
                    <th class="text-right">TOTAL</th>
                </tr>
            </thead>
            <tbody class="border-bottom-light">
            	<tr>
                	<td class="text-left">Furnihome Product Name</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$370</td>
                </tr>
                <tr>
                	<td class="text-left">Furnihome Product Name</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$370</td>
                </tr>
                <tr>
                	<td class="text-left">Furnihome Product Name</td>
                    <td class="text-center">1</td>
                    <td class="text-right">$370</td>
                </tr>
            </tbody>
            <tfoot>
            	 <tr>
                	<td class="text-left">Cart Subtotal</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-right">$1,100.00</td>
                </tr>
                <tr>
                	<td class="text-left">Shipping and Handling</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-right">$100.00</td>
                </tr>
                <tr>
                	<td class="text-left">VAT:</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-right">$00.00</td>
                </tr>
                <tr>
                	<td class="text-left">Order Total</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-right">$1,200.00</td>
                </tr>
            </tfoot>
        </table>
        <a href="#" class="highlight-button-dark btn btn-medium button xs-margin-bottom-five">Return to Home</a> 
        <a href="#" class="highlight-button-dark btn btn-medium button xs-margin-bottom-five">continue Shopping</a>
        </div>
    </div>
    <div class="col-md-6"> 
     <div class="col-md-12 border-black border-gray padding-seven padding-left-right" style="min-height:605px;"> 
     <h2 class="margin-three no-margin-top">Order Details (ID:167HVL1990)</h2>
     <div class="separator-line bg-yellow no-margin-lr margin-five"></div>
     <div class="row margin-ten no-margin-top">
     	<div class="col-md-6">
        	<h3 class="margin-five no-margin-top">Billing Details:</h3>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Name:</span> Pixel Creative</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Email:</span> Lamhvdesigner@gmail.com</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Phone:</span> +84.988 922 085</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Address:</span> 907 Rainbow, Linh Dam, Ha Noi, Viet Nam</p>
        </div>
        <div class="col-md-6">
        		<h3 class="margin-five no-margin-top">Billing Details:</h3>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Name:</span> Pixel Creative</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Email:</span> Lamhvdesigner@gmail.com</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Phone:</span> +84.988 922 085</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Address:</span> 907 Rainbow, Linh Dam, Ha Noi, Viet Nam</p>
        </div>
     </div>
     <div class="row margin-seven no-margin-top">
     	<div class="col-md-6">
        	<h3 class="margin-five no-margin-top">Customer Information</h3>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Name:</span> Anthony Camello</p>            
            <p class="margin-one no-margin-top"><span class="font-weight-600">Phone:</span> 0989-6868-999</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Email:</span> customer@email.com</p>
        </div>
        <div class="col-md-6">
        		<h3 class="margin-five no-margin-top">Payment Method</h3>
                <p class="margin-one no-margin-top"><span class="font-weight-600">CREDIT CART</span> </p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Name:</span> Pixel Creative</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Email:</span> Lamhvdesigner@gmail.com</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Cart Number:</span>****-****-1990</p>
            <p class="margin-one no-margin-top"><span class="font-weight-600">Address:</span> 907 Rainbow, Linh Dam, Ha Noi, Viet Nam</p>
        </div>
     </div>
     </div></div>
    </div>
</div>
</section>
{{ footer }}