<div class="col-md-12 col-sm-12  text-uppercase  wow fadeIn">
<div class="panel panel-default">
  <!--<div class="panel-heading">{{ heading_title }}</div>-->
  
  <div class="list-group desktopview">
   <!--<div class="col-md-4 col-sm-4 text-center"><h3>{{ filter_group.name }}</h3>
    
      <ul id="filter-group{{ filter_group.filter_group_id }}" class="catfilters margin-two-bottom">
      
      {% for filter in filter_group.filter %}
        <li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>
        {% endfor %}</ul>
       
           
    </div>-->
    {% for filter_group in filter_groups %} 
    <div class="width-20 f-left text-left">
    	<div class="col-md-12">
		<h3>{{ filter_group.name }}</h3>
		<div class="dd wrapper-dropdown-4">Select
			<ul class="dropdown">
				{% for filter in filter_group.filter %}
				<li class="{{ filter.filter_class }}"><input class="" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" {% if filter.filter_id in filter_category %} CHECKED {% endif %} />  <label for="el-1"><i class="black-text small-icon"><span class="icon-bg" style="background-image:url('{{ filter.filter_image }}');"></span><!--<img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt="">--></i>{{ filter.name }}</label></li>
				{% endfor %}
			</ul>
		</div>
        </div>
    </div>
    {% endfor %}
    <div class="width-20 f-left text-left">
    <div class="col-md-12">
	<p>
	<label for="amount">Carat Range:</label>
	<input type="text" id="carat_value" readonly style="border:0; color:#f6931f; font-weight:bold;">
	</p>
	<div id="carat-range"></div>
    </div>
    </div>
     <div class="width-20 f-left text-left">
     <div class="col-md-12">
	<p>
	<label for="amount">Price Range:</label>
	<input type="text" id="price_value" readonly style="border:0; color:#f6931f; font-weight:bold;">
	</p>
	<div id="price-range"></div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    
    <div class="list-group mobileview">
{% if filter_groups %}
    <h3 id="catfilter" class="text-center bg-gray padding-four margin-three-bottom">FILTER:</h3>
    <!--{% for filter_group in filter_groups %}
    
    <div class="panel-group accordion-style{{ filter_group.filter_group_id }}" id="accordion-{{ filter_group.filter_group_id }}">
    
        	<div class="panel panel-default">
            	<div class="panel-heading active-accordion">
                                    <a data-toggle="collapse" data-parent="#accordion-{{ filter_group.filter_group_id }}" href="#accordion-{{ filter_group.filter_group_id }}-link{{ filter_group.filter_group_id }}"><h4 class="panel-title">{{ filter_group.name }}<span class="pull-right"><i class="fa fa-minus"></i></span></h4></a>
                                </div>
                <div id="accordion-{{ filter_group.filter_group_id }}-link{{ filter_group.filter_group_id }}" class="panel-collapse collapse in">
                                    <div class="panel-body text-center">
                                     <ul class="catfilters">{% for filter in filter_group.filter %}<li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>{% endfor %}
                                     </ul>
                                    </div>
                                </div>
            </div>
             
        </div>
        {% endfor %}-->
        
<!--Filter Search-->
<div id="filterssearch" style="display:none;">
<div class="filteroption">
	<header class="filtertop">
    	<span class="filtertitle">Filters</span>
        <span class="closefilter"><i></i><i></i></span>
    </header>
	<ul id="accordion">
		{% for filter_group in filter_groups %} 
		<li class="dropdown parentli"><a href="#collapsef{{ filter_group.filter_group_id }}" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown" class="display-block">{{ filter_group.name }} <i class="fa fa-angle-down f-right"></i></a>
		<ul id="collapsef{{ filter_group.filter_group_id }}" class="collapse">
			<li class="mega-menu-column col-sm-2 ">
				<ul>
					{% for filter in filter_group.filter %}
					<li class="{{ filter.filter_class }}"><a href="javascript:void(0);"><input class="" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" {% if filter.filter_id in filter_category %} CHECKED {% endif %} />  <label for="el-1"><i class="black-text small-icon"><span class="icon-bg" style="background-image:url('{{ filter.filter_image }}');"></span><!--<img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt="">--></i>{{ filter.name }}</label></a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		</li>
		{% endfor %}
	</ul>
	
    <div class="col-md-12">
	<p>
	<label for="amount">Carat Range:</label>
	<input type="text" id="carat_value" readonly style="border:0; color:#f6931f; font-weight:bold;">
	</p>
	<div id="carat-range"></div>
    </div>
     <div class="col-md-12">
	<p>
	<label for="amount">Price Range:</label>
	<input type="text" id="price_value" readonly style="border:0; color:#f6931f; font-weight:bold;">
	</p>
	<div id="price-range"></div>
    </div>
	
    <div class="clear-both"></div>
    <div class="filterbtns">
    	<span class="clearbtn"><a href="javascript:void(0);" class="highlight-button btn btn-small button width-100 text-center clear-btn"><b>Clear</b></a></span>
        <span class="seeprobtn"><a href="javascript:void(0);" class="highlight-button-dark btn btn-small button width-100 text-center button-filter">Apply</a></span>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
    </div>
</div>
{% endif %}
    </div>
    <div class="text-center desktopview">
    <button type="button" id="button-filter" class="highlight-button-dark btn btn-small button text-center button-filter">{{ button_filter }}</button>
    <a href="javascript:void(0);" style="display:none;" class="btn no-margin"><i class="fa fa-spinner" aria-hidden="true"></i>Load More</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{{ action }}" class="btn no-margin"><i class="fa fa-refresh" aria-hidden="true"></i>Clear All</a>
  </div>

</div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="catalog/view/javascript/jquery/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript"><!--
$(document).ready(function(){
	var windowwidth = $(window).width();
	if(windowwidth < 768){
		$(".desktopview").remove();
	} else {
		$(".mobileview").remove();
	}
});
/*
$('.filtering').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
*/
//--></script> 
<script>
$("#catfilter").on('click', function() {
   $("#filterssearch").fadeIn();
   $("body").addClass("bodyfixed");
   
});
$(".closefilter").on('click', function() {
   $("#filterssearch").fadeOut();
   $("body").removeClass("bodyfixed");
});
$('.button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
$('.clear-btn').on('click', function() {
	$('input[name^=\'filter\']:checked').each(function(element) {
		$(this).removeAttr('checked');
	});
	
	location = '{{ action }}';
});
</script>
<script type="text/javascript">
	function DropDown(el) {
		this.dd = el;
		this.opts = this.dd.find('ul.dropdown > li');
		this.val = [];
		this.index = [];
		this.initEvents();
	}
	DropDown.prototype = {
		initEvents : function() {
			var obj = this;

			obj.dd.on('click', function(event){
				$(this).toggleClass('active');
				event.stopPropagation();
			});


			obj.opts.children('label').on('click',function(event){
				var opt = $(this).parent(),
					chbox = opt.children('input'),
					val = chbox.val(),
					idx = opt.index();

				($.inArray(val, obj.val) !== -1) ? obj.val.splice( $.inArray(val, obj.val), 1 ) : obj.val.push( val );
				($.inArray(idx, obj.index) !== -1) ? obj.index.splice( $.inArray(idx, obj.index), 1 ) : obj.index.push( idx );
			});
		},
		getValue : function() {
			return this.val;
		},
		getIndex : function() {
			return this.index;
		}
	}

	$(function() {

		var dd = new DropDown( $('.dd') );

		$(document).click(function() {
			// all dropdowns
			$('.wrapper-dropdown-4').removeClass('active');
		});

	});

</script>
<script>
  $( function() {
  
	//Desktop Sliders..
    $( "#carat-range" ).slider({
      range: true,
      min: 0.20,
      max: 2.00,
	  step: 0.20,
      values: [ 0.40, 1.00 ],
      slide: function( event, ui ) {
        $( "#carat_value" ).val( ui.values[ 0 ] + " ct - " + ui.values[ 1 ] + " ct" );
      }
    });
    $( "#carat_value" ).val( $( "#carat-range" ).slider( "values", 0 ) +
      " ct - " + $( "#carat-range" ).slider( "values", 1 ) + " ct" );
	  
	$( "#price-range" ).slider({
      range: true,
      min: 0,
      max: 10000,
      step: 50,
      values: [ 50, 1000 ],
      slide: function( event, ui ) {
        $( "#price_value" ).val( ui.values[ 0 ] + " ct - " + ui.values[ 1 ] + " ct" );
      }
    });
    $( "#price_value" ).val( $( "#price-range" ).slider( "values", 0 ) +
      " ct - " + $( "#price-range" ).slider( "values", 1 ) + " ct" );
	  
	$('#carat-range').draggable();
	$('#price-range').draggable();
	 
	
  });
  </script>