<div class="col-md-12 col-sm-12  text-uppercase  wow fadeIn">
<div class="panel panel-default">
  <!--<div class="panel-heading">{{ heading_title }}</div>-->
  
  <div class="list-group desktopview">
   {% for filter_group in filter_groups %} 
   <!--<div class="col-md-4 col-sm-4 text-center"><h3>{{ filter_group.name }}</h3>
    
      <ul id="filter-group{{ filter_group.filter_group_id }}" class="catfilters margin-two-bottom">
      
      {% for filter in filter_group.filter %}
        <li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>
        {% endfor %}</ul>
       
           
    </div>-->
    
    <div class="col-md-3 col-sm-6 text-left">
		<h3>{{ filter_group.name }}</h3>
		<div class="dd wrapper-dropdown-4">Select
			<ul class="dropdown">
				{% for filter in filter_group.filter %}
				<li><input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" {% if filter.filter_id in filter_category %} CHECKED {% endif %} />  <label for="el-1"><i class="black-text small-icon"><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""></i>{{ filter.name }}</label></li>
				{% endfor %}
			</ul>
		</div>
    </div>
    {% endfor %}
    
    
    <div class="clearfix"></div>
    </div>
    
    <div class="list-group mobileview">
    <h3 id="catfilter" class="text-center bg-gray padding-four margin-three-bottom">FILTER:</h3>
    <!--{% for filter_group in filter_groups %}
    
    <div class="panel-group accordion-style{{ filter_group.filter_group_id }}" id="accordion-{{ filter_group.filter_group_id }}">
    
        	<div class="panel panel-default">
            	<div class="panel-heading active-accordion">
                                    <a data-toggle="collapse" data-parent="#accordion-{{ filter_group.filter_group_id }}" href="#accordion-{{ filter_group.filter_group_id }}-link{{ filter_group.filter_group_id }}"><h4 class="panel-title">{{ filter_group.name }}<span class="pull-right"><i class="fa fa-minus"></i></span></h4></a>
                                </div>
                <div id="accordion-{{ filter_group.filter_group_id }}-link{{ filter_group.filter_group_id }}" class="panel-collapse collapse in">
                                    <div class="panel-body text-center">
                                     <ul class="catfilters">{% for filter in filter_group.filter %}<li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>{% endfor %}
                                     </ul>
                                    </div>
                                </div>
            </div>
             
        </div>
        {% endfor %}-->
        
          <!--Filter Search-->
<div id="filterssearch" style="display:none;">
<div class="filteroption">
	<header class="filtertop">
    	<span class="filtertitle">Filters</span>
        <span class="closefilter"><i></i><i></i></span>
    </header>
	<ul id="accordion">
		<li class="dropdown parentli"><a href="#collapsea" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown" class="display-block">Shape <i class="fa fa-angle-down f-right"></i></a>
		<ul id="collapsea" class="collapse">
			<li class="mega-menu-column col-sm-2">
				<ul>
					<li><a href="javascript:void(0);"><span class="filtername">Round (1)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="48" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Princess (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="49" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Emerald (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="50" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Oval (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="52" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Heart (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="54" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Marquise (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="55" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">Cushion (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="56" /><span class="radiocheck"></span></label></span></a></li>
				</ul>
			</li>
		</ul>
		</li>
		<li class="dropdown parentli"><a href="#collapseb" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown" class="display-block">Metal <i class="fa fa-angle-down f-right"></i></a>
		<ul id="collapseb" class="collapse">
			<li class="mega-menu-column col-sm-2">
				<ul>
					<li><a href="javascript:void(0);"><span class="filtername">9K White Gold (1)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="1" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">9K Yellow Gold (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="2" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">9K Rose Gold (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="3" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">18K White Gold (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="5" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">18K Rose Gold (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="6" /><span class="radiocheck"></span></label></span></a></li>
					<li><a href="javascript:void(0);"><span class="filtername">950 Platinum (0)</span><span style="float:right;" class="arrow"><label><input class="filtering" type="checkbox" name="filter[]" value="7" /><span class="radiocheck"></span></label></span></a></li>
				</ul>
			</li>
		</ul>
		</li>
	</ul>
    
    <div class="clear"></div>
    <div class="filterbtns">
    	<span class="clearbtn"><a href="javascript:void(0);" class="highlight-button btn btn-small button width-100 text-center clear-btn"><b>Clear</b></a></span>
        <span class="seeprobtn"><a href="javascript:void(0);" class="highlight-button-dark btn btn-small button width-100 text-center button-filter">See All products</a></span>
    </div>
    </div>
</div>
    </div>
    <div class="text-center desktopview">
    <!--<button type="button" id="button-filter" class="btn btn-primary no-margin">{{ button_filter }}</button>-->
    <a href="javascript:void(0);" style="display:none;" class="btn no-margin"><i class="fa fa-spinner" aria-hidden="true"></i>Load More</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{{ action }}" class="btn no-margin"><i class="fa fa-refresh" aria-hidden="true"></i>Clear All</a>
  </div>

</div>
</div>
<script type="text/javascript"><!--
$(document).ready(function(){
	var windowwidth = $(window).width();
	if(windowwidth < 768){
		$(".desktopview").remove();
	} else {
		$(".mobileview").remove();
	}
});

$('.filtering').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
<script type="text/javascript">
			
			function DropDown(el) {
				this.dd = el;
				this.opts = this.dd.find('ul.dropdown > li');
				this.val = [];
				this.index = [];
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});

					obj.opts.children('label').on('click',function(event){
						var opt = $(this).parent(),
							chbox = opt.children('input'),
							val = chbox.val(),
							idx = opt.index();

						($.inArray(val, obj.val) !== -1) ? obj.val.splice( $.inArray(val, obj.val), 1 ) : obj.val.push( val );
						($.inArray(idx, obj.index) !== -1) ? obj.index.splice( $.inArray(idx, obj.index), 1 ) : obj.index.push( idx );
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}

			$(function() {

				var dd = new DropDown( $('.dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-4').removeClass('active');
				});

			});

		</script>