<div class="col-md-12 col-sm-12 breadcrumb text-uppercase  wow fadeIn">
<div class="panel panel-default">
  <!--<div class="panel-heading">{{ heading_title }}</div>-->
  
  <div class="list-group desktopview">
   {% for filter_group in filter_groups %} <div class="col-md-4 col-sm-4 text-center"><h3>{{ filter_group.name }}</h3>
    
      <ul id="filter-group{{ filter_group.filter_group_id }}" class="catfilters margin-two-bottom">{% for filter in filter_group.filter %}
        <li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>
        {% endfor %}</ul>
        
           
    </div>
    {% endfor %}
    
    
    
    <div class="clearfix"></div>
    </div>
    
    <div class="list-group mobileview">
    <h3 class="text-center bg-gray padding-four margin-three-bottom">FILTER:</h3>
    {% for filter_group in filter_groups %}
    
    <div class="panel-group accordion-style1" id="accordion-one">
    
        	<div class="panel panel-default">
            	<div class="panel-heading active-accordion">
                                    <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1"><h4 class="panel-title">{{ filter_group.name }}<span class="pull-right"><i class="fa fa-minus"></i></span></h4></a>
                                </div>
                <div id="accordion-one-link1" class="panel-collapse collapse in">
                                    <div class="panel-body text-center">
                                     <ul class="catfilters">{% for filter in filter_group.filter %}<li class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% else %}
            <input class="filtering" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />           
            <span><img class="img-black" src="catalog/view/theme/default/image/dummy-icon-black.png" alt=""><img class="img-color" src="catalog/view/theme/default/image/dummy-icon-color.png" alt=""></span>
             <i>{{ filter.name }}</i>
            {% endif %}</label>
        </li>{% endfor %}
                                     </ul>
                                    </div>
                                </div>
            </div>
             
        </div>
        {% endfor %}
    </div>
  <div class="text-center">
    <!--<button type="button" id="button-filter" class="btn btn-primary no-margin">{{ button_filter }}</button>-->
    <a href="#" class="btn no-margin"><i class="fa fa-spinner" aria-hidden="true"></i>Load More</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" class="btn no-margin"><i class="fa fa-refresh" aria-hidden="true"></i>Clear All</a>
  </div>
</div>
</div>
<script type="text/javascript"><!--
$('.filtering').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
