{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-stone_mapping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-stone_mapping" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %} </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-certificate">{{ entry_certificate }}</label>
                <div class="col-sm-10">
                  <input type="text" name="certificate" value="{{ certificate }}" placeholder="{{ entry_certificate }}" id="input-certificate" class="form-control" />
                  {% if error_certificate %}
                  <div class="text-danger">{{ error_certificate }}</div>
                  {% endif %} </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-total">{{ entry_total }}</label>
                <div class="col-sm-10">
                  <input type="text" name="total" value="{{ total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
                  {% if error_total %}
                  <div class="text-danger">{{ error_total }}</div>
                  {% endif %} </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-markup-percent">{{ entry_markup_percent }}</label>
                <div class="col-sm-10">
                  <input type="text" name="markup_percent" value="{{ markup_percent }}" placeholder="{{ entry_markup_percent }}" id="input-markup-percent" class="form-control" />
                  {% if error_markup_percent %}
                  <div class="text-danger">{{ error_markup_percent }}</div>
                  {% endif %} </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-markup-fixed">{{ entry_markup_fixed }}</label>
                <div class="col-sm-10">
                  <input type="text" name="markup_fixed" value="{{ markup_fixed }}" placeholder="{{ entry_markup_fixed }}" id="input-markup-fixed" class="form-control" />
                  {% if error_markup_fixed %}
                  <div class="text-danger">{{ error_markup_fixed }}</div>
                  {% endif %} </div>
              </div>
              <div>
              <hr/>
                {{ text_option_values }}
              </div>

              <div class="form-group">
              {% if option_values %}
                {% for option_val in option_values %}

                <span style="display:inline-block; margin:0 3px;">
                 {% set optval = option_value|split(',') %}
                  {% if option_val['option_value_id'] in optval %}
                    <input type="checkbox" name="option_value[]" value="{{ option_val['option_value_id'] }}@{{ option_val['name'] }}" checked="checked" />
                    {{ option_val['name'] }}
                    {% else %}
                    <input type="checkbox" name="option_value[]" value="{{ option_val['option_value_id'] }}@{{ option_val['name'] }}" />
                    {{ option_val['name'] }}
                    {% endif %}
                    {% endfor %}
                  </span>
                  {% endif %}
              </div>
      
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function optionValue(element) {

var a = $("select[name=option_id] option:selected").val();

  if (element.value != '') {
    $.ajax({
      url: 'index.php?route=catalog/option_search_mapping/autocomplete&user_token={{ user_token }}&option_id=' + a,
      
      dataType: 'json',
          
      success: function(json) {       
        
        var options = '';
        var option_val = '{{ option_value }}';    
        
        if(json['option'].length){

          for (var i = 0; i < json['option'].length; i++) {

           if(option_val==json['option'][i].name)
          {
            options += '<span style="display:inline-block; margin:0 7px;"><input type="checkbox" name="option_value[]" value="'+json['option'][i].option_value_id+'@'+json['option'][i].name+'" checked="checked" />'+json['option'][i].name+'</span>';
          }
           else
          {
            options += '<span style="display:inline-block; margin:0 7px;"><input type="checkbox" name="option_value[]" value="'+json['option'][i].option_value_id+'@'+json['option'][i].name+'" />'+json['option'][i].name+'</span>';
          }
          }

          $("#option_value").html(options);
         
        } else {
           $("#option_value").html(options);
        }   
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
}



//--></script> 
{{ footer }}