{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-stone_price').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-stone_price">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'diamond_type' %}
                    <a href="{{ sort_diamond_type }}" class="{{ order|lower }}">{{ column_diamond_type }}</a>
                    {% else %}
                    <a href="{{ sort_diamond_type }}">{{ column_diamond_type }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'shape' %}
                    <a href="{{ sort_shape }}" class="{{ order|lower }}">{{ column_shape }}</a>
                    {% else %}
                    <a href="{{ sort_shape }}">{{ column_shape }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'carat_from' %}
                    <a href="{{ sort_carat_from }}" class="{{ order|lower }}">{{ column_carat_from }}</a>
                    {% else %}
                    <a href="{{ sort_carat_from }}">{{ column_carat_from }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'carat_to' %}
                    <a href="{{ sort_carat_to }}" class="{{ order|lower }}">{{ column_carat_to }}</a>
                    {% else %}
                    <a href="{{ sort_carat_to }}">{{ column_carat_to }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'clarity' %}
                    <a href="{{ sort_clarity }}" class="{{ order|lower }}">{{ column_clarity }}</a>
                    {% else %}
                    <a href="{{ sort_clarity }}">{{ column_clarity }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'color' %}
                    <a href="{{ sort_color }}" class="{{ order|lower }}">{{ column_color }}</a>
                    {% else %}
                    <a href="{{ sort_color }}">{{ column_color }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'lab' %}
                    <a href="{{ sort_lab }}" class="{{ order|lower }}">{{ column_lab }}</a>
                    {% else %}
                    <a href="{{ sort_lab }}">{{ column_lab }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'cut' %}
                    <a href="{{ sort_cut }}" class="{{ order|lower }}">{{ column_cut }}</a>
                    {% else %}
                    <a href="{{ sort_cut }}">{{ column_cut }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'price' %}
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %}
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if stone_prices %}
                {% for stone_price in stone_prices %}
                <tr>
                  <td class="text-center">{% if stone_price.stone_price_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ stone_price.stone_price_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ stone_price.stone_price_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ stone_price.diamond_type }}</td>
                  <td class="text-left">{{ stone_price.shape }}</td>
                  <td class="text-left">{{ stone_price.carat_from }}</td>
                  <td class="text-left">{{ stone_price.carat_to }}</td>
                  <td class="text-left">{{ stone_price.clarity }}</td>
                  <td class="text-left">{{ stone_price.color }}</td>
                  <td class="text-left">{{ stone_price.lab }}</td>
                  <td class="text-left">{{ stone_price.cut }}</td>
                  <td class="text-right">{{ stone_price.price }}</td>
                  <td class="text-left">{{ stone_price.status }}</td>
                  <td class="text-right"><a href="{{ stone_price.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}