{{ header }}
<!-- head section -->
{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
        <section class="page-title parallax3 parallax-fix page-title-large page-title-shop">
            <div class="opacity-light bg-dark-gray"></div>
            {% if thumb %}
				<img class="parallax-background-img" src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" />
			{% endif %}
            <div class="container width-100">
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeIn">                        
                        <!-- page title -->
                        <h1 class="white-text text-center">{{ heading_title }}</h1>
                        <!-- end page title -->
                        <!-- page title tagline -->
                        {% if description %}
						<span class="text-uppercase white-text text-center">{{ description }}</span>
						{% endif %}
                        <!-- end title tagline -->
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- end head section -->
		
		{% if filter_groups %}
		<section class="padding-two position-relative parallax-fix ">
        	<div class="opacity-medium bg-dark-gray"></div>
            <div class="container width-100">
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeIn">
                        <h3 class="white-text text-center text-uppercase margin-two no-margin-top">Filter by our Lovely {{ heading_title }} Designs</h3>
                        <!-- featured products slider -->
                        <div class="padding-left-right">
						<div id="filter-products" class="owl-carousel owl-theme dark-pagination owl-no-pagination owl-prev-next-simple ">
							{% for filter_group in filter_groups %}
							{% for filter in filter_group.filter %}
							
							<div class="item">
								<div class="filter-product {% if filter.filter_id in filter_category %}active{% endif %} text-center position-relative overflow-hidden">
									<span class="proimg"><a href="{{ category_href }}&filter={{ filter.filter_id }}"><img src="image/catalog/product/1.png" alt=""/></a></span>
									<span class="product-name text-center "><a href="{{ category_href }}&filter={{ filter.filter_id }}">{{ filter.name }}</a></span>	
								</div>
							</div>
							{% endfor %}
							{% endfor %}
						</div>
                        </div>
						<!-- end featured products slider -->
                    </div>
                 </div>
            </div>            
        </section>
		{% endif %}
		
            
        <!-- end head section -->
		<section class="padding-two">
        	<div class="container width-100">
                <div class="row">
        	<div class="col-md-12 col-sm-12 breadcrumb text-uppercase  wow fadeIn">
            <div class="col-md-6 col-sm-6">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
                            <li><a class="black-text" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                        </div>
                        <div class="col-md-6 col-sm-6 text-right cathelpbox">
                        	<span class="black-text">Need Help</span> 
                            <span><a href="tel:0800 500 5000"><i class="icon-phone extra-small-icon black-text"></i></a></span>
                            <span><a href="index.php?route=information/contact/popup" class="agree"><i class="icon-envelope extra-small-icon black-text"></i></a></span>
                            <span><a href="javascript:$zopim.livechat.window.show();"><i class="icon-chat extra-small-icon black-text"></i></a></span>
                            <span><a href="/faq"><i class="fa fa-question-circle extra-small-icon black-text" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                    </div></div>
        </section>
		
        <section class="padding-two position-relative" style="z-index:9;">
        	<div class="container width-100">
                <div class="row">
                {{ content_top }}
                 </div>
             </div>
        </section>
        <!-- content section -->
        <section class="padding-two position-relative">
            <div id="content" class="container width-100">
                <div class="row">
						
                    <div class="col-md-12 col-sm-12">
                        <div class="shorting clearfix xs-margin-top-three border-bottom margin-two-bottom">
                            <div class="desktopview">
                                <div class="col-md-5 col-sm-7 grid-nav">                                   
                                    <!--<span id="grid-view"><a><i class="fa fa-th"></i></a></span>
                                     <span id="list-view"><a><i class="fa fa-bars"></i></a></span>-->
                                    <p class="text-uppercase letter-spacing-1 sm-display-none">{{ results }}</p>
                                </div>
								<div class="col-md-3 col-sm-5 pull-right">
                                    <div class="select-style input-round med-input shop-shorting ">
                                        <select id="input-limit" class="form-control" onchange="location = this.value;">
										  {% for limits in limits %}
										  {% if limits.value == limit %}
										  <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
										  {% else %}
										  <option value="{{ limits.href }}">{{ limits.text }}</option>
										  {% endif %}
										  {% endfor %}
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-5 pull-right">
                                    <div class="select-style input-round med-input shop-shorting ">
                                        <select id="input-sort" class="form-control" onchange="location = this.value;">
                                          {% for sorts in sorts %}
                                              {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                                  {% else %}
                                                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                              {% endif %}
                                          {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="mobileview">
                            	<div class="f-left">
                                <a href="shop-with-sidebar-list.html"><i class="fa fa-bars"></i></a>
                                <a href="shop-with-sidebar.html"><i class="fa fa-th"></i></a>
                                <p class="text-uppercase letter-spacing-1 sm-display-none">{{ results }}</p>
                            </div>-->
                             	<div class="mobileview f-right">	
                                <div class="select-style input-round med-input shop-shorting no-border pull-left">
                                    <select id="input-limit" class="form-control" onchange="location = this.value;">
									  {% for limits in limits %}
									  {% if limits.value == limit %}
									  <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									  {% else %}
									  <option value="{{ limits.href }}">{{ limits.text }}</option>
									  {% endif %}
									  {% endfor %}
									</select>
                                </div>
								<div class="select-style input-round med-input shop-shorting no-border pull-right">
                                    <select id="input-sort" class="form-control" onchange="location = this.value;">
									  {% for sorts in sorts %}
										  {% if sorts.value == '%s-%s'|format(sort, order) %}
											  <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
											  {% else %}
											  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
										  {% endif %}
									  {% endfor %}
									</select>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="product-listing margin-three">
						
                            <div id="pro-gridview">
                            {% if products %}
							{% for product in products %}
                            <!-- shop item -->
                            <div class="col-md-4 col-sm-4">
                                <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
                                <!--<div class="rating margin-five no-margin-top">
                            <span class="pull-left"><i class="fa fa-star black-text"></i><i class="fa fa-star black-text"></i><i class="fa fa-star black-text"></i><i class="fa fa-star black-text"></i><i class="fa fa-star-o black-text"></i><span class="rating-text text-uppercase">5 Reviews</span></span><span class="rating-text text-uppercase pull-right no-margin"><i class="fa fa-heart black-text"></i> 845 Likes </span> <span class="clearfix"></span>
                        </div>-->
                                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" /></a>
                                    <span class="product-name text-uppercase"><a href="{{ product.href }}">{{ product.name }}</a></span>
                                    {% if product.price %}
									<span class="price black-text">
									{% if not product.special %}
									  {{ product.price }}
									  {% else %}
									  <del>{{ product.price }}</del>{{ product.special }}
									  {% endif %}
									  <!--{% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}-->
									</span>
									{% endif %}
                                    <div class="quick-buy">
                                        <div class="product-share">
                                            <a href="javascript:void(0);" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"><i class="fa fa-heart-o"></i></a>
                                            <a href="javascript:void(0);" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" onclick="compare.add('{{ product.product_id }}');" title="{{ button_compare }}"><i class="fa fa-refresh"></i></a>
                                            <a href="javascript:void(0);" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="{{ button_cart }}"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end shop item -->
                            {% endfor %}
						{% endif %}
                            </div>
                            
							
                        
                        
                        </div>
                        <!-- pagination -->
						{{ pagination }}
                        <!--<div class="pagination margin-ten no-margin-bottom">
                            <a href="#"><img src="catalog/view/theme/default/image/arrow-pre-small.png" alt=""/></a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#" class="active">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#"><img src="catalog/view/theme/default/image/arrow-next-small.png" alt=""/></a>
                        </div>-->
                        <!-- end pagination -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end content section -->
 

{{ footer }} 
