{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" onclick="$('#form').submit();" form="form-product_type" data-toggle="tooltip" title="{{ button_calculate }}" class="btn btn-primary"><i class="fa fa-save">{{ button_calculate }}</i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
    <div id="tab-general">
      <table class="form" cellspacing="25" cellpadding="25" border="0" style="width:100%;">
      <tr>
          <td>{{ entry_currency }}</td>
          <td>
            <select name="currency">
            {% for currencie in currencies %}
              {% if currencie.code_currencie.value == currency %}
              <option value="{{ currencie.code }}_{{ currencie.value }}" selected="selected">{{ currencie.code }}</option>
              {% elseif currencie.code == default_currency %}
              <option value="{{ currencie.code }}_{{ currencie.value }}" selected="selected">{{ currencie.code }}</option>
              {% else %}
              <option value="{{ currencie.code }}_{{ currencie.value }}" >{{ currencie.code }}</option>
              {% endif %}
            {% endfor %}
          </select>
          </td>
          <td>{{ entry_product_type }}</td>
          <td>
            <select name="product_type_id">
            <option value="">{{ text_select }}</option>
            {% for producttype in product_types %}
              {% if producttype.product_type_id == product_type_id %}
              <option value="{{ producttype.product_type_id }}" selected="selected">{{ producttype.name }}</option>
              {% else %}
              <option value="{{ producttype.product_type_id }}">{{ producttype.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
          </td>
          <td>{{ entry_metal_weight }}</td>
          <td><input type="text" name="metal_weight" value="{{ metal_weight }}" class="calculate"/></td> 
		  <td>{{ entry_multistone }} (C,S,M,CS,CM,SM,CSM)</td>
          <td><input type="text" name="multistone" value="" class="calculate"/></td> 
      </tr>
	  <tr>
		  <td colspan="2">{{ entry_side_stone }}</td>
          <td colspan="2"><input type="text" name="side_stone" style="width:400px;"  value="" class="calculate"/></td>  
		  <td colspan="2">{{ entry_multi_stone }}</td>
          <td colspan="2"><input type="text" name="multi_stone" style="width:400px;" value="" class="calculate"/></td>
	  </tr>
      <tr>
        {% if options %}
		{% set i = 0 %}
        {% for option in options %}
        <td>{{ option.option_name }}</td>
          <td>
          <select name="{{ option.option_name }}" >
          <option value="">{{ text_select }}</option>
          {% for option_value in option.option_values %}
            <option value="{{ option_value.code }}">{{ option_value.name }}</option>
          {% endfor %}
          </select>
        </td>
		{% set i = i + 1 %}
		{% if i % 4 == 0 %}
			</tr><tr>
		{% endif %}
        {% endfor %}
        {% endif %}
        </tr>
      
        <table class="form">
        <tr>
          <td>{{ entry_markup }}</td>
          <td><select name="product_markup" >
             <option value="">{{ text_select }}</option>
             {% for mark in markups %}
              <option value="{{ mark.code }}">{{ mark.title }}( {{ mark.code }} )</option>
            {% endfor %}
          </select></td>              
        </tr>
        <tr>
          <td>{{ entry_tax }}</td>
          <td><select name="tax" >
             <option value="">{{ text_select }}</option>
             {% for taxs in taxss %}
              {% if taxs.rate == tax %}
              <option value="{{ taxs.rate }}" selected="selected">{{ taxs.name }}</option>
              {% else %}
              <option value="{{ taxs.rate }}">{{ taxs.name }}</option>
              {% endif %}
            {% endfor %}
          </select></td>              
        </tr>
            <tr>
          <td>{{ entry_store }}</td>
          <td><select name="stores">
            <option value="0" {% if store_id == '0' %} SELECTED {% endif %}>{{ text_default }}</option>
            {% for value in stores %}
            {% if value.store_id == store_id %}
              <option value="{{ value.store_id }}" selected="selected">{{ value.name }}</option>
              {% else %}
              <option value="{{ value.store_id }}">{{ value.name }}</option>
              {% endif %}
            {% endfor %}
          </select></td>              
        </tr>
        </table>  
      </table> 

{% if price.no_price and price.no_price == '1' %}
  <div id="output" style="font-size:15px;">
    <h3>RESULT :</h3>
    <table class="list">
      <tr>
        <td align="center" style="font-size:15px;height:50px;vertical-align:middle;color:red;">No Price Found for the selected options.</td>
      </tr>
    </table>
  </div>
{% elseif price.metal_price and price.metal_price != '' %}
  <div id="output" style="font-size:15px;">
    <h3>RESULT :</h3>
    <table class="list">
	  <tr>
        <td class="right">Total Metal Weight :</td>
        <td class="right">{{ price.metal_weight }}</td>
      </tr>
      <tr>
        <td class="right">Metal Price :</td>
        <td class="right">{{ price.metal_price }}</td>
      </tr>
      <tr>
        <td class="right">Center Stone Price :</td>
        <td class="right">{{ price.center_stone_price }}</td>
      </tr>
	  <tr>
        <td class="right">Side Stone Price :</td>
        <td class="right">{{ price.side_stone_price }}</td>
      </tr>	  
	  <tr>
        <td class="right">Multi Stone Price :</td>
        <td class="right">{{ price.multi_stone_price }}</td>
      </tr>
	  <tr>
        <td class="right">Price Before Product Markup :</td>
        <td class="right">{{ price.price_before_markup }}</td>
      </tr>
	  <tr>
        <td class="right">Price After Product Markup :</td>
        <td class="right">{{ price.price_after_markup }}</td>
      </tr>
	  <tr>
        <td class="right">Final Price After Tax :</td>
        <td class="right">{{ price.price_with_tax }}</td>
      </tr>
    </table>
  </div>
{% endif %}
     </div>
      </form>
      </div>
    </div>
  </div>
<style>
#footer {
  position: relative;
}
</style>
{{ footer }}