{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">{{ heading_title }}</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
		
		
		<section id="counter" class="parallax8 parallax-fix" style="background: url(&quot;catalog/view/theme/default/image/homepage/office-img.jpg&quot;) 50% 110px;">
            <div class="opacity-medium bg-black"></div>
            <div class="container width-100">
                <div class="row">
                    <div class="col-md-7 col-sm-12 text-center center-col">
                        <h1 class="white-text">Made For You <br>Made For The One You Love </h1>
						<p class="white-text">Creating a bespoke ring is the perfect way to show the special person in your life that you love them more than anything. Our complimentary service is tailored to your every need and covers everything from the moment you want to start, to the moment that special someone says: "I do."</p>
                    </div>
                </div>
          </div>
        </section>
        
        <section id="blog" class="wow fadeIn padding-five">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title padding-four no-padding-top">Our Latest Creation</h3>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
					{% for bespoke in bespokes %}
                    <div class="col-md-4 col-sm-4 wow fadeInUp margin-three no-margin-top" data-wow-duration="300ms">
                        <div class="blog-post">
                            <div class="blog-post-images"><a href="javascript:void(0);"><img src="{{ bespoke.thumb }}" alt=""></a></div>
                            <div class="post-details text-center">
                                <a href="javascript:void(0);" class="post-title">{{ bespoke.title }}</a>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
                
                <!--
				<div class="row">
                  
                    <div class="col-md-12 text-center">
                        <p><a href="#" class="highlight-button btn btn-medium button no-margin">View All</a></p>
                        <p><a href="#" class="highlight-button-dark btn btn-medium button no-margin">Start Your Now</a></p>
                    </div>
                    
                </div>
				-->
            </div>
        </section>
        
        <!-- services section -->
        <section class="corporate-standards no-padding-bottom wow fadeIn padding-two">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title no-padding-bottom">Work Process</h3>
                    </div>
                    <!-- end section title -->
                </div>
            </div>
            <div class="container-fluid margin-five no-margin-bottom no-padding">
                <div class="row no-margin">
                    <!-- tab -->
                    <div class="col-md-12 col-sm-12 center-col text-center no-padding" id="animated-tab">
                        <!-- tab navigation -->
                        <ul class="nav nav-tabs margin-five no-margin-top xs-margin-bottom-seven">
                            <li class="nav active"><a href="/bespoke#tab6_sec1" class="xs-min-height-inherit xs-no-padding"><span><i class=""><img src="catalog/view/theme/default/image/information/bespoke-icon-1.jpg" alt=""></i></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none xs-display-none">The Design Ideas</span></li>
                            <li class="nav"><a href="/bespoke#tab6_sec2" class="xs-min-height-inherit xs-no-padding"><span><i class="icon-tools"></i></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none xs-display-none">The Basic Design </span></li>
                            <li class="nav"><a href="/bespoke#tab6_sec3" class="xs-min-height-inherit xs-no-padding"><span><i class=""><img src="catalog/view/theme/default/image/information/bespoke-icon-3.jpg" alt=""></i></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none xs-display-none">The Stone </span></li>
                            <li class="nav"><a href="/bespoke#tab6_sec4" class="xs-min-height-inherit xs-no-padding"><span><i class=""><img src="catalog/view/theme/default/image/information/bespoke-icon-4.jpg" alt=""></i></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none xs-display-none">The Final design</span></li>
                             <li class="nav"><a href="/bespoke#tab6_sec5" class="xs-min-height-inherit xs-no-padding"><span><i class=""><img src="catalog/view/theme/default/image/information/bespoke-icon-5.jpg" alt=""></i></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none xs-display-none">The Order</span></li>
                        </ul>
                        <!-- end tab navigation -->
                        <!-- tab content section -->
                        <div>
                            <!-- tab content -->
                            <div id="tab6_sec1" class="text-center center-col tab-pane fade in active margin-three-bottom"> 
                                <div class="tab-pane fade in">                                     
                                    <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten f-right">
                                        <!--<div class="img-border-small-fix border-gray"></div>-->
                                        <i class="large-icon yellow-text"><img src="catalog/view/theme/default/image/information/bespoke-icon-1.jpg" alt=""></i>
                                        <h1 class="margin-ten no-margin-bottom">The Design Ideas</h1>
                                        <p class="text-med margin-ten width-80 center-col xs-width-100">The first thing is to decide what you would like your dream ring to look like. Look through our extensive online catalogue to get some inspiration and then bring your ideas to your exclusive one-on-one session with one of our experts. We’ll talk you through a whole host of ideas and find the one that will be on your partner’s finger for a lifetime. </p>
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 corporate-standards-img cover-background position-relative" style="background-image:url('catalog/view/theme/default/image/information/bespoke-img-1.jpg');">
                                        <div class="opacity-medium bg-dark-gray"></div>
                                        <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing yellow-text">01</span><br>The Design Ideas</p>
                                    </div>
                                    <div class="clearfix clear"></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec2" class="text-center center-col tab-pane fade in margin-three-bottom"> 
                                <div class="tab-pane fade in"> 
                                    
                                    <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                                        <!--<div class="img-border-small-fix border-gray"></div>-->
                                        <i class="icon-tools large-icon "></i>
                                        <h1 class="margin-ten no-margin-bottom">The Basic Design </h1>
                                        <p class="text-med margin-ten width-80 center-col">With your basic design roughed out your personal consultant will create an basic design. This serves as a price estimate whilst we work with you to finalise the design so that it is exactly how you want it before we start finalizing design. </p>
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 corporate-standards-img cover-background position-relative" style="background-image:url('catalog/view/theme/default/image/information/bespoke-img-2.jpg');">
                                        <div class="opacity-medium bg-dark-gray"></div>
                                        <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing yellow-text">02</span><br>The Basic Design</p>
                                    </div>
                                    <div class="clearfix clear"></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec3" class="text-center center-col tab-pane fade in margin-three-bottom"> 
                                <div class="tab-pane fade in"> 
                                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten f-right">
                                        <!--<div class="img-border-small-fix border-gray"></div>-->
                                        <i class="large-icon yellow-text"><img src="catalog/view/theme/default/image/information/bespoke-icon-3.jpg" alt=""></i>
                                        <h1 class="margin-ten no-margin-bottom">The Stone </h1>
                                        <p class="text-med margin-ten width-80 center-col">No engagement ring would be complete without a diamond or gemstone to really catch the eye. With over 100,000 options to choose from your personal consultant will be invaluable in helping you find the one your partner has waited a lifetime for. Once you’ve found the one your heart desires we’ll add it to the design and move onto step 4…</p>
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 corporate-standards-img cover-background position-relative" style="background-image:url('catalog/view/theme/default/image/information/bespoke-img-3.jpg');">
                                        <div class="opacity-medium bg-dark-gray"></div>
                                        <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing yellow-text">03</span><br>The Stone</p>
                                    </div>
                                    
                                    <div class="clearfix clear"></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec4" class="text-center center-col tab-pane fade in margin-three-bottom"> 
                                <div class="tab-pane fade in"> 
                                    
                                    <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                                        <!--<div class="img-border-small-fix border-gray"></div>-->
                                        <i class="large-icon yellow-text"><img src="catalog/view/theme/default/image/information/bespoke-icon-4.jpg" alt=""></i>
                                        <h1 class="margin-ten no-margin-bottom">The Final design</h1>
                                        <p class="text-med margin-ten width-80 center-col">We do more than provide you with a final drawing, we give a fully rendered 3D model of your bespoke ring so that you can spin it around and see it from all angles. Want to see it in even more detail? For a small additional fee we can make you a Sterling Silver model so that you can hold your design in the palm of your hand.</p>
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 corporate-standards-img cover-background position-relative" style="background-image:url('catalog/view/theme/default/image/information/bespoke-img-4.jpg');">
                                        <div class="opacity-medium bg-dark-gray"></div>
                                        <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing yellow-text">04</span><br>The Final design</p>
                                    </div>
                                    <div class="clearfix clear"></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- tab content -->
                            <div id="tab6_sec5" class="text-center center-col tab-pane fade in margin-three-bottom"> 
                                <div class="tab-pane fade in"> 
                                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten f-right">
                                        <!--<div class="img-border-small-fix border-gray"></div>-->
                                        <i class="large-icon yellow-text"><img src="catalog/view/theme/default/image/information/bespoke-icon-5.jpg" alt=""></i>
                                        <h1 class="margin-ten no-margin-bottom">The Order</h1>
                                        <p class="text-med margin-ten width-80 center-col">Once you’re happy with the final design we give you a final quotation, which you can then use to place your order.</p>
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 corporate-standards-img cover-background position-relative" style="background-image:url('catalog/view/theme/default/image/information/bespoke-img-5.jpg');">
                                        <div class="opacity-medium bg-dark-gray"></div>
                                        <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing yellow-text">05</span><br>The Order</p>
                                    </div>
                                    
                                    <div class="clearfix clear"></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end tab content section -->
                    </div>
                    <!-- end tab -->
                </div>
            </div>
        </section>
        <!-- end services section -->
        
        
        
        <section class="wow fadeIn padding-four bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-10 text-center center-col">
                        <h1>Start Your Consultation Today</h1>
                        <p class="text-med width-90 center-col margin-four">Enjoy your complimentary no-obligation consultation today and get to know your very own personal design consultant who will be with you every step of the way.</p>
                    </div>
					<form action=""  method="post" enctype="multipart/form-data" class="form-horizontal" name="form-bespoke_page" id ="form-bespoke_page">
                    <div class="col-md-8 col-sm-10 text-center center-col">
                    	<div class="row">
                        	<div class="col-md-6">
                            	<!-- input -->
                            <input type="text" placeholder="Your Name" required id="bespoke_name" name="bespoke_name" />
                            <!-- end input -->
                            </div>
                            <div class="col-md-6">
                            	 <!-- input  -->
                            <input type="email" placeholder="Your E-mail Address" required id="bespoke_email" name="bespoke_email" />
                            <!-- end input -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                        	<div class="col-md-12">
                            	 <!-- textarea  -->
                            <textarea placeholder="Enquiry" name="bespoke_enquiry" id="bespoke_enquiry" required></textarea>
                            <!-- end textarea  -->
                            </div>
                            <div class="clearfix"></div>
                            <span class="required margin-four no-margin-top">*Please complete all fields correctly</span>
                        </div>
                        <div class="row">
                        	
                    <div class="col-md-12 text-center">
                        <button class="highlight-button btn btn-medium button no-margin" id="button-bespoke_page" type="submit">Send Your Message</button>
                    </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        
        <!-- testimonial section -->
        <section class="border-bottom padding-five">
            <div class="container">
             <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title yellow-text">Customer Review</h3>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <!-- testimonials item -->
                    <div class="col-md-6 col-sm-6 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                        <img src="catalog/view/theme/default/image/placeholder_person.png" alt="">
                        <p class="center-col width-90">I knew I wanted to have something made for years and years but I didn’t know how to do it. Luckily Abelini were with me every step of the way and made the whole process really rather fun. </p>
                        <span class="name black-text">Lauren</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-6 col-sm-6 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                        <img src="catalog/view/theme/default/image/placeholder_person.png" alt="">
                        <p class="center-col width-90">I pretended my car wouldn’t start and then when she came to ask what I was doing under the bonnet I pulled it out. I’d recommend Abelini to anyone thinking of making their day truly special. 10/10!</p>
                        <span class="name black-text">Jim</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                   
                </div>
            </div>
        </section>
        <!-- end testimonial section -->
		
<script type="text/javascript"><!--
$('#form-bespoke_page').on('submit', function(e) {
	e.preventDefault();
	
	var name = $("#bespoke_name").val();
	var email = $("#bespoke_email").val();
	var enquiry = $("#bespoke_enquiry").val();
	
	if(name == ''){
		alert('Please enter your name');
		return false;
	} else if(email == ''){
		alert('Please enter your email');
		return false;
	} else if(enquiry == ''){
		alert('Please enter your enquiry message');
		return false;
	}
	
  $.ajax({
    url: 'index.php?route=information/bespoke/confirm',
    type: 'post',
    dataType: 'json',
    data: $("#form-bespoke_page").serialize(),
    beforeSend: function() {
      $('#button-bespoke_page').button('loading');
    },
    complete: function() {
      $('#button-bespoke_page').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#form-bespoke_page').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#form-bespoke_page').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('#bespoke_name').val('');
        $('#bespoke_email').val('');
        $('#bespoke_enquiry').val('');
        
		if(json['redirect']){
			location.href= json['redirect'];
			return false;
		}
      }
    }
  });
});

//--></script>
{{ footer }}
