{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">{{ heading_title }}</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        
		
		
		{% if article_id is defined %}
		<section class="wow padding-two">
            <div class="container">
                <div class="row blog-masonry blog-masonry-2col no-transition">
                    <!-- post item -->
                    <div class="col-md-12 col-sm-12 col-xs-12 blog-listing">
                     	<h2 class="blog-details-headline text-black">{{ blog.name }}</h2>
                         <div class="blog-date no-padding-top"><!--Posted by {{ blog.author }} | {{ blog.date_modified }}--></div>
                        <div class="blog-image text-center margin-four"><img src="{{ blog_image }}" alt=""/></div>
                        <div class="blog-details"> 
                            <div class="blog-short-description width-100">{{ blog.description }}</div>
                            <div class="separator-line bg-black no-margin-lr margin-four"></div>
                            <!--<div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div>-->
                            <div>
                                <span class="black-text text-uppercase text-small vertical-align-middle margin-right-five sharethis-wrap">   <span class="sharethis-inline-share-buttons"></span>Share on</span>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </div>
            </div>
        </section>
		{% else %}
        <section class="wow padding-two">
            <div class="container">
                <div class="row blog-masonry blog-masonry-2col no-transition">
				{% for blog in blogs %}
                    <!-- post item -->
                    <div class="col-md-6 col-sm-6 col-xs-6 blog-listing">
                        <div class="blog-image"><a href="{{ blog.href }}"><img src="{{ blog.thumb }}" alt=""/></a></div>
                        <div class="blog-details">
                            <div class="blog-date"><!--Posted by <a href="{{ blog.href }}">{{ blog.author }}</a> | {{ blog.date_modified }}--></div>
                            <div class="blog-title"><a href="{{ blog.href }}">{{ blog.name }}</a></div>
                            <div class="blog-short-description width-100">{{ blog.intro_text }}</div>
                            <div class="separator-line bg-black no-margin-lr margin-four"></div>
                            <!--<div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div>-->
                            <!--<div>
                                <a href="#" class="blog-share"><i class="fa fa-share-alt small-icon black-text"></i></a>
                                <a href="#" class="blog-share"><i class="fa fa-share-alt small-icon black-text"></i></a>
                                <a href="#" class="blog-share"><i class="fa fa-share-alt small-icon black-text"></i></a>
                                <a href="#" class="blog-share"><i class="fa fa-share-alt small-icon black-text"></i></a>
                            </div>-->
                            <!--<div><span class="black-text text-uppercase text-small vertical-align-middle margin-right-five sharethis-wrap">   <span class="sharethis-inline-share-buttons"></span>Share on</span></div>-->
                        </div>
                    </div>
                    <!-- end post item -->
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 wow">
						{{ pagination }}
                    </div>
                </div>
            </div>
        </section>
		{% endif %}
        
		
		
{{ footer }}
