{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text"><!--{{ heading_title }}--> Free Home Trial</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section padding-two">
<div id="information-contact" class="container">
 
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <!--<h1>Free Home Trial</h1>-->
      <h3>Free Home Trial</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            Free Home Trial content comes here...
          </div>
        </div>
      </div>
     
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>
{{ footer }}