{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text"><!--{{ heading_title }}--> Free Home Trial</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section padding-two">
       <div class="container">
       <h2 class="text-center margin-four no-margin-top">How our try at home works</h2>         
        <div class="col-md-12 no-padding text-center">
        	<div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">01</span>
            <h3 class="margin-four">ORDER 4 FRAMES FOR A FREE TRIAL</h3>
            <p>You choose up to 4 frames from our online shop and we will ship the try at home box to your doorstep within 2-3 days. For free</p>
            </div>
            <div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">02</span>
            	<h3 class="margin-four">CHOOSE YOUR FAVOURITE</h3>
                <p>You have 4 days to try on your glasses and choose your favourite one(s) together with yourfriends and family - no stirngs attached.</p>
                <p>Order your favourite pair(s) onilne and look forward to receiving your new personal VIU glassse in 7-10 working days.</p>
            </div>
            <div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">03</span>
            	<h3 class="margin-four">RETURN THE BOX AT NO COST</h3>
                <p>Just stick the prepaid label on the resealable box and send it back to us within 4 days - easy and for free.</p>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="highlight-button-dark btn btn-medium button xs-margin-bottom-five">Shop Now</a>
        </div>
        <div class="clear"></div>
        </div>
</section>

<section class="content-section padding-two">
       <div class="container">
       <h2 class="text-center margin-two no-margin-top">HERE'S WHY YOU'LL WANT TO TRY</h2>  
       </div>   
       <div class="bg-black padding-three">   
       <div class="container"> 
        <div class="col-md-12 no-padding text-center ">
        	<div class="col-md-4">
            <h3 class="margin-four white-text">RISK FREE</h3>
            <p class="white-text">No salespeople. No pressure. You pay nothing unless they're just right and you decide to keep them.</p>
            </div>
            <div class="col-md-4">
            	<h3 class="margin-four white-text">QUICK & EASY</h3>
                <p class="white-text">Once you've decided your frames are perfect, there's no wait. They're all ready—with your own prescription.</p>
            </div>
            <div class="col-md-4">
            	<h3 class="margin-four white-text">FREE ADJUSTMENTS</h3>
                <p class="white-text">We've partnered with LensCrafters. Now you can stop by any one of their stores for free adjustments.</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        </div>
</section>

<section class="content-section padding-two">
       <div class="container">
       <h2 class="text-center margin-three no-margin-top">QUESTIONS?</h2>  
      
        <div class="col-md-12 no-padding ">
        <div class="panel-group accordion-style3" id="accordion-three">
        	<div class="col-md-6">
          
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link1"><h4 class="panel-title"><strong class="number">01</strong>When does my 15-day In-Home Try-On begin?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link1" class="panel-collapse collapse">
                                    <div class="panel-body">You should receive your frames approximately 5-7 business days after ordering, and your In-Home Try-On will officially begin the day they arrive on your doorstep.
                                    </div>
                                </div>
                            </div>
                            <!-- accordion item -->
                            <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link2"><h4 class="panel-title"><strong class="number">02</strong>When does my 15-day In-Home Try-On end?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       Give yourself 15 days to try them out (if it takes that long). If you love them, keep them. They're all yours.
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link3"><h4 class="panel-title"><strong class="number">03</strong>When will I receive the frames?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link3" class="panel-collapse collapse">
                                    <div class="panel-body">Your In-Home Try-On frames will arrive within 5-7 business days of your order with free standard shipping (expedited shipping available as well).
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                             <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link4"><h4 class="panel-title"><strong class="number">04</strong>Can an order be shipped to an APO or FPO?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link4" class="panel-collapse collapse">
                                    <div class="panel-body">In-Home Try On cannot be shipped to an APO or FPO box at this time
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link5"><h4 class="panel-title"><strong class="number">05</strong>What if I need more time?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       Not a problem. If you need more time to make a decision, simply call us at 1-800 GLASSES to request an extension.
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                        </div>
           
            <div class="col-md-6">
            	  <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link6"><h4 class="panel-title"><strong class="number">06</strong>Will the glasses include lenses?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link6" class="panel-collapse collapse">
                                    <div class="panel-body">Your In-Home Try-On includes free single-vision prescription lenses. 
Progressive/Multifocal lenses, reading lenses, and non-prescription orders do not qualify for In-Home Try-On at this time. 
The good news is all orders are eligible for free returns within 30 days, so you have plenty of time to try them out and make sure you love them.
                                    </div>
                                </div>
                            </div>
                            <!-- accordion item -->
                            <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link7"><h4 class="panel-title"><strong class="number">07</strong>How do I return my frames if I don't like them?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      If something isn't quite right, you can send them back. Our opticians can help you find just what you're looking for.
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link8"><h4 class="panel-title"><strong class="number">08</strong>Are sunglasses eligible for In-Home Try-On?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link8" class="panel-collapse collapse">
                                    <div class="panel-body">Currently we offer In-Home Try-On for glasses only. Sunglasses are eligible for free shipping both ways and free returns within 30 days, giving you plenty of time to try them on at home and make sure you love them.</div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                             <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link9"><h4 class="panel-title"><strong class="number">09</strong>Can I use my insurance benefits?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link9" class="panel-collapse collapse">
                                    <div class="panel-body">In home try-on or any site promotions cannot be combined with insurance benefits.
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link10"><h4 class="panel-title"><strong class="number">10</strong>When will my card be charged?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      Your card will not be charged until your 15-day trial ends. At the time the order is placed, we will verify funds are available by authorizing your card. This may place a temporarily hold on your funds, which will drop off automatically within 5 to 10 days. If you decide to return the frames, your card will not be charged.
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
            </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
      
</section>
{{ footer }}