{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container width-100">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text"><!--{{ heading_title }}--> Free Home Trial</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section padding-two">
       <div class="container width-100">
       <h2 class="text-center margin-one no-margin-top">Your Ring: Your Way </h2>  
       <h3 class="text-center margin-three no-margin-top">Luxury Is Only A Click Away </h3>   
       <p>At Abelini we believe that when it comes to luxury, you should have it all your own way. That's why we are committed to making the trying on process even easier than ever before by bringing the sizes to the comfort of your own home at the click of a button. It's so simple we can tell you all about it in just 3 steps...</p>   
        <div class="col-md-12 no-padding text-center">
        	<div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">01</span>
            <h3 class="margin-four">Choose Your Designs</h3>
            <p>You can choose up to 3 designs at any one time and we'll ship them to your door within only 2-3 days. Once they arrive on your doorstep you'll be greeted by a trio of product samples that are ready and waiting to be tried on. Each manufactured from high quality silver and topped off with an artificial diamond to give you the complete try before you buy experience you have been looking for. <br />
(<strong>Please note:</strong> We add a £50 reserve for each sample ring and in cases where a model has to be made from scratch final delivery may take up to 10 working days)</p>
            </div>
            <div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">02</span>
            	<h3 class="margin-four">Choose Your Favourite</h3>
                <p>Take up to 5 days to try your sample rings and show them off to friends and family so the people you are closest to can tell you what they think. There's absolutely no obligation to buy, but if you find the ring you have been searching for just let us know and we'll begin your very own custom build. Have a question regarding the process? Our jewellery consultants are always ready and willing to lend their expert eye. </p>
            </div>
            <div class="col-md-4">
            <span class="work-process-number font-weight-100 display-block">03</span>
            	<h3 class="margin-four">Return For Free </h3>
                <p>Once you're finished with your samples simply attach the prepaid postage label to the original box and send it on its way. When you enter the world of Abelini luxury has never been so simple. </p>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="highlight-button-dark btn btn-medium button xs-margin-bottom-five">Shop Now</a>
        </div>
        <div class="clear"></div>
        </div>
</section>

<section class="content-section padding-two">
       <div class="container width-100">
       <h2 class="text-center margin-one no-margin-top">Our Promise To You</h2> 
       <h3 class="text-center margin-two no-margin-top">Making Luxury Your Everyday </h3>
       <p class="text-center">When you put your trust in Abelini we make a promise to you, one that we will never break:</p>
       </div>   
       <div class="bg-black padding-three">   
       <div class="container width-100"> 
        <div class="col-md-12 no-padding text-center ">
        	<div class="col-md-4">
            <h3 class="margin-four white-text">No Risk: </h3>
            <p class="white-text">We don't employ sales people and we don't push. All we want is to pair you with your perfect ring for a lifetime</p>
            </div>
            <div class="col-md-4">
            	<h3 class="margin-four white-text">Simplicity</h3>
                <p class="white-text">Ordering and trying on from the comfort of your own home couldn't be simpler, that's why we're committed to bringing luxury to you with the click of a button</p>
            </div>
            <div class="col-md-4">
            	<h3 class="margin-four white-text">Easy To Work With</h3>
                <p class="white-text">If you find you would like to resize your dream ring then all you have to do is let us know within the first 90 days and we'll take of everything free of charge</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        </div>
</section>

<section class="content-section padding-two">
       <div class="container width-100">
       <h2 class="text-center margin-three no-margin-top">QUESTIONS?</h2>  
      
        <div class="col-md-12 no-padding ">
        <div class="panel-group accordion-style3" id="accordion-three">
        	<div class="col-md-6">
          
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link1"><h4 class="panel-title"><strong class="number">01</strong>When does my 5 Day try on begin?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link1" class="panel-collapse collapse">
                                    <div class="panel-body">We keep things simple. The try on starts the day they arrive on your doorstep</div>
                                </div>
                            </div>
                            <!-- accordion item -->
                            <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link2"><h4 class="panel-title"><strong class="number">02</strong>How long do I have to try them on?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       Our try on service lasts for 5 days. On the 5th day all you have to do is put them back in the box and attach the prepaid postage label that was sent with it. If the 5th day falls on a weekend or a public holiday please use the next available working day and contact us sales@abelini.com to let us know. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link3"><h4 class="panel-title"><strong class="number">03</strong>Help! I need more time to make up my mind!<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link3" class="panel-collapse collapse">
                                    <div class="panel-body">Not an issue at all, please give us a call to let us know and we'll take care of the rest. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                             <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link4"><h4 class="panel-title"><strong class="number">04</strong>Why should I try this service?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link4" class="panel-collapse collapse">
                                    <div class="panel-body">We want you to fall in love with your ring the moment you put it on your finger. To save you time, money, and effort, we create models of your favourite designs that you can try on in the comfort of your own home. With your friends and family around you'll be able to get a sense of whether you connect with the piece or not. It's the no pressure hassle-free way to bring a touch of luxury to your life. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link5"><h4 class="panel-title"><strong class="number">05</strong>I live outside the UK, can I use your service?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       Unfortunately we only currently offer this service to UK residents. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link6"><h4 class="panel-title"><strong class="number">06</strong>Can I buy my model?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link6" class="panel-collapse collapse">
                                    <div class="panel-body">Our models are only samples, if you would like to discuss how we can create a bespoke piece you will fall in love with the moment it rests on your finger then get in touch with Abelini today. 
                                    </div>
                                </div>
                            </div>
                           
                            <!-- end accordion item -->
                        </div>
           
            <div class="col-md-6">
            	  
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link7"><h4 class="panel-title"><strong class="number">07</strong>You say its free, so why do you charge my card?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                     All shipping, returns, and creation of samples is 100% FREE. We only charge your card to underwrite the cost of the sample should they fail to be returned for any reason. The moment they land at our door we will refund your card. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link8"><h4 class="panel-title"><strong class="number">08</strong>How many designs and colours can I have?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link8" class="panel-collapse collapse">
                                    <div class="panel-body">You can have up to 3 sample rings at a time. Whether you would like 3 distinct designs, 1 design in 3 different colours, or something in between, we are always on hand to bring luxury choice to your door.</div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                             <!-- end accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link9"><h4 class="panel-title"><strong class="number">09</strong>Can I use your service more than once?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link9" class="panel-collapse collapse">
                                    <div class="panel-body">Absolutely! As soon as we receive the sample rings back you are free to place another order. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link10"><h4 class="panel-title"><strong class="number">10</strong>Do you clean your samples?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      Yes, we do! Every item we dispatch is professionally cleaned using ultrasonic equipment by our in-house experts. It is the ideal technique to clean germs and buildups from those hard to reach places. Please refer to www.abelini.com/terms-of-use for further details. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- accordion item -->
                            <div class="panel panel-default">
                                <div class="panel-heading overflow-hidden">
                                    <a data-toggle="collapse" data-parent="#accordion-three" href="#accordion-three-link10"><h4 class="panel-title"><strong class="number">11</strong>Do you supply earrings?<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
                                </div>
                                <div id="accordion-three-link10" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We do, although for hygiene reasons we advise against trying them on. Please refer to www.abelini.com/terms-of-use for further details. 
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
            </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
      
</section>
{{ footer }}