{{ header }}
 <section class="content-top-margin page-title page-title-small bg-gray padding-one">
            <div class="container width-100">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text"><!--{{ heading_title }}--> Visit Showroom</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none text-right" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
							{% for breadcrumb in breadcrumbs %}
							<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
							{% endfor %}
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <section id="counter"  class="parallax8 parallax-fix" style="background: url('catalog/view/theme/default/image/homepage/office-img.jpg') 50% 93px;" >
           
            <div class="opacity-medium bg-black"></div>
            <div class="container width-100">
                <div class="row">
                    <div class="col-md-7 col-sm-12 text-center center-col">
                        <h1 class="white-text">Our Showroom</h1>
						<p class="white-text">Visit our showroom at Hatton Garden, London, for a one-to-one consultation. We offer a pressure-free environment that allows you to choose the perfect pieces of diamond jewellery. Schedule an appointment today to view our selection of diamond rings and fine jewellery.</p>
                    </div>
                </div>
          </div>
        </section>
        <section class="content-section padding-two">
<div class="container width-100">
 	
  <div class="col-md-6 no-padding">
  <h3 class="margin-one no-margin-top">Our Showroom</h3>
  	<p>Showroom visits are strictly by appointment only</p>
    <h3 class="margin-one no-margin-top">Our address:</h3>
    <p>Suite 12,<br />
88-90 Hatton Garden<br />
London<br />
EC1N 8PN</p>
<h3 class="margin-one no-margin-top">London Showroom Opening times</h3>
<p>Monday - Thursday 10:00 - 19:30<br />
Friday 10:00 - 18:30<br />
Saturday 10:00 - 17:00<br />
we are closed Sundays and UK bank holidays</p>
  
  </div>
  <div class="col-md-6" id="appointment_page_div">
  	<form action=""  method="post" enctype="multipart/form-data" class="form-horizontal" name="form-appointment_page" id ="form-appointment_page">
                            <div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">First Name <sup class="deep-red-text">*</sup></label>
                                <!-- end label  -->
                                <!-- input  -->
                                <input type="text" class="form-control input-round big-input" id="appointment_page-firstname" name="appointment_firstname" placeholder="First Name" required />
                                <!-- end input  -->
                            </div>
                             <div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">Last Name <sup class="deep-red-text">*</sup></label>
                                <!-- end label  -->
                                <!-- input  -->
                                <input type="text" class="form-control input-round big-input" id="appointment_page-lastname" name="appointment_lastname" placeholder="Last Name" required />
                                <!-- end input  -->
                            </div>
                             <div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">Email Address <sup class="deep-red-text">*</sup></label>
                                <!-- end label  -->
                                <!-- input  -->
                                <input type="email" class="form-control input-round big-input" id="appointment_page-email" name="appointment_email" placeholder="Email address" required />
                                <!-- end input  -->
                            </div>
                            <div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">Phone <sup class="deep-red-text">*</sup></label>
                                <!-- end label  -->
                                <!-- input  -->
                                <input type="text" class="form-control input-round big-input" id="appointment_page-phone" name="appointment_phone" placeholder="Phone" required />
                                <!-- end input  -->
                            </div>
							<div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">Appointment Date & Time<sup class="deep-red-text">*</sup></label>
                                <!-- end label  -->
                                <!-- input  -->
                                <input type="text" class="form-control input-round big-input" id="appointment_page-date" name="appointment_date" placeholder="" required />
                                <!-- end input  -->
                            </div>
                            <div class="form-group">
                                <!-- label  -->
                                <label for="exampleInputEmail1">Additional information</label>
                                <!-- end label  -->
                                <!-- input  -->
                               <textarea name="appointment_message" id="appointment_page-message" rows="5" class="form-control"></textarea>
                                <!-- end input  -->
                            </div>
                            
                            
                            <!-- button  -->
                            <button class="highlight-button btn btn-medium no-margin" id="button-appointment_page" type="submit">Submit</button>
                            <!-- end button  -->
                        </form>
  </div>
  <div class="clearfix"></div>
  
</div>
</section>
<section class="content-section padding-one">
<div class="col-md-12 no-padding">
      	
        	<div id="canvas1" class="col-md-12 col-sm-12 no-padding contact-map map">
                      <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.013292368219!2d-73.99278428494233!3d40.71772387933131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259876bb14d79%3A0xd4cf7ac0f2cefee0!2s79+Orchard+St%2C+New+York%2C+NY+10002%2C+USA!5e0!3m2!1sen!2sin!4v1508652575971" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.659604509942!2d-0.11065118451483483!3d51.51946067963707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b4dcd189fd7%3A0xd7a32525c194683e!2s88-90+Hatton+Garden%2C+London+EC1N+8PN%2C+UK!5e0!3m2!1sen!2sin!4v1511514368452" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
     
        
      </div>
      <div class="container">
      		<div class="col-md-8"> <input type="text" class="form-control input-round big-input" id="" placeholder="Enter address here"></div>
            <div class="col-md-4"> <button class="highlight-button btn btn-medium no-margin width-100" type="submit">Get Directions</button></div>
      </div>
</section>
<script type="text/javascript">
	$(function(){
		$('#appointment_page-date').appendDtpicker({
			"closeOnSelected": true
		});
	});
</script>
<script type="text/javascript"><!--
$('#form-appointment_page').on('submit', function(e) {
	e.preventDefault();
	
	var firstname = $("#appointment_page-firstname").val();
	var lastname = $("#appointment_page-lastname").val();
	var email = $("#appointment_page-email").val();
	var phone = $("#appointment_page-phone").val();
	var date = $("#appointment_page-date").val();
	
	if(firstname == ''){
		alert('Please enter your firstname');
		return false;
	} else if(lastname == ''){
		alert('Please enter your lastname');
		return false;
	} else if(email == ''){
		alert('Please enter your email');
		return false;
	} else if(phone == ''){
		alert('Please enter your phone no.');
		return false;
	} else if(date == ''){
		alert('Please enter appointment date');
		return false;
	}
	
  $.ajax({
    url: 'index.php?route=information/visit_showroom/confirm',
    type: 'post',
    dataType: 'json',
    data: $("#form-appointment_page").serialize(),
    beforeSend: function() {
      $('#button-appointment_page').button('loading');
    },
    complete: function() {
      $('#button-appointment_page').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#appointment_page_div').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#appointment_page_div').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
        $('#appointment_page-firstname').val('');
        $('#appointment_page-lastname').val('');
        $('#appointment_page-email').val('');
        $('#appointment_page-phone').val('');
        $('#appointment_page-date').val('');
        $('#appointment_page-message').val('');
        
		if(json['redirect']){
			location.href= json['redirect'];
			return false;
		}
      }
    }
  });
});

//--></script>
{{ footer }}